## IMPORT DATAFRAME

In [15]:
import pandas as pd
df_coffe = pd.read_csv('Coffee_Chain_Sales .csv')
df_coffe.head()

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market,Marketing,Product_line,...,Product,Profit,Sales,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type
0,303,51,-35,10/1/2012,503,71,Major Market,Central,46,Leaves,...,Lemon,-5,122,Colorado,30,60,30,90,76,Decaf
1,970,52,-24,10/1/2012,405,71,Major Market,Central,17,Leaves,...,Mint,26,123,Colorado,30,60,50,90,45,Decaf
2,409,43,-22,10/2/2012,419,64,Major Market,South,13,Leaves,...,Lemon,28,107,Texas,30,60,50,90,36,Decaf
3,850,38,-15,10/3/2012,871,56,Major Market,East,10,Leaves,...,Darjeeling,35,94,Florida,40,60,50,100,21,Regular
4,562,72,6,10/4/2012,650,110,Major Market,West,23,Leaves,...,Green Tea,56,182,California,20,60,50,80,54,Regular

In [16]:
df_coffe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1062 entries, 0 to 1061
Data columns (total 21 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Area Code                               1062 non-null   int64
 1   Cogs                                    1062 non-null   int64
 2   DifferenceBetweenActualandTargetProfit  1062 non-null   int64
 3   Date                                    1062 non-null   object
 4   Inventory Margin                        1062 non-null   int64
 5   Margin                                  1062 non-null   int64
 6   Market_size                             1062 non-null   object
 7   Market                                  1062 non-null   object
 8   Marketing                               1062 non-null   int64
 9   Product_line                            1062 non-null   object
 10  Product_type                            1062 non-null   object
 11  Product                                 1062 non-null   object
 12  Profit                                  1062 non-null   int64
 13  Sales                                   1062 non-null   int64
 14  State                                   1062 non-null   object
 15  Target_cogs                             1062 non-null   int64
 16  Target_margin                           1062 non-null   int64
 17  Target_profit                           1062 non-null   int64
 18  Target_sales                            1062 non-null   int64
 19  Total_expenses                          1062 non-null   int64
 20  Type                                    1062 non-null   object
dtypes: int64(13), object(8)
memory usage: 174.4+ KB

## DATABASE MONGODB

In [17]:
df_mongo = df_coffe[['Area Code', 'Market_size', 'Market', 'Product_line', 'Product_type', 'Product', 'State', 'Type']].drop_duplicates()

In [18]:
print(df_mongo.head())

   Area Code   Market_size   Market Product_line Product_type     Product  \
0        303  Major Market  Central       Leaves   Herbal Tea       Lemon
1        970  Major Market  Central       Leaves   Herbal Tea        Mint
2        409  Major Market    South       Leaves   Herbal Tea       Lemon
3        850  Major Market     East       Leaves          Tea  Darjeeling
4        562  Major Market     West       Leaves          Tea   Green Tea

        State     Type
0    Colorado    Decaf
1    Colorado    Decaf
2       Texas    Decaf
3     Florida  Regular
4  California  Regular

In [44]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)

db = client['cafe_db']
collection = db['products']  # nama koleksi sesuai data

# 3. Ubah DataFrame jadi list of dict
records = df_mongo.to_dict(orient='records')

# 4. Insert banyak dokumen sekaligus
collection.insert_many(records)

print(f"{len(records)} records berhasil dimasukkan ke MongoDB!")

623 records berhasil dimasukkan ke MongoDB!

In [45]:
for doc in collection.find().limit(5):
    print(doc)

{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143e'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143f'), 'Area Code': 409, 'Market_size': 'Major Market', 'Market': 'South', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Texas', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f4231440'), 'Area Code': 850, 'Market_size': 'Major Market', 'Market': 'East', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Darjeeling', 'State': 'Florida', 'Type': 'Regular'}
{'_id': ObjectId('682dd017f174d523f4231441'), 'Area Code': 562, 'Market_size': 'Major Market', 'Market': 'West', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Green Tea', 'State': 'California', 'Type': 'Regular'}

In [23]:
results = collection.find({"Product_line": "Leaves", "Product_type": "Herbal Tea", "State": "Colorado"})
for doc in results:
    print(doc)

{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143e'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423146c'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423146d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423147d'), 'Area Code': 720, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423149b'), 'Area Code': 719, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423151b'), 'Area Code': 720, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f42315f8'), 'Area Code': 719, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Chamomile', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423160d'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Chamomile', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f4231622'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Chamomile', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423162f'), 'Area Code': 720, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Chamomile', 'State': 'Colorado', 'Type': 'Decaf'}

In [38]:
from pymongo import MongoClient
from datetime import datetime

client = MongoClient()
db = client['cafe_analytics']
collection = db['sales']

# Update field 'Date' dari string ke datetime untuk semua dokumen (sekali jalan aja)
for doc in collection.find():
    date_str = doc['Date']  # misal '10/1/2012'
    date_obj = datetime.strptime(date_str, '%m/%d/%Y')
    collection.update_one({'_id': doc['_id']}, {'$set': {'Date': date_obj}})

## DATABASE CASSANDRA

In [26]:
df_coffe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1062 entries, 0 to 1061
Data columns (total 21 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Area Code                               1062 non-null   int64
 1   Cogs                                    1062 non-null   int64
 2   DifferenceBetweenActualandTargetProfit  1062 non-null   int64
 3   Date                                    1062 non-null   object
 4   Inventory Margin                        1062 non-null   int64
 5   Margin                                  1062 non-null   int64
 6   Market_size                             1062 non-null   object
 7   Market                                  1062 non-null   object
 8   Marketing                               1062 non-null   int64
 9   Product_line                            1062 non-null   object
 10  Product_type                            1062 non-null   object
 11  Product                                 1062 non-null   object
 12  Profit                                  1062 non-null   int64
 13  Sales                                   1062 non-null   int64
 14  State                                   1062 non-null   object
 15  Target_cogs                             1062 non-null   int64
 16  Target_margin                           1062 non-null   int64
 17  Target_profit                           1062 non-null   int64
 18  Target_sales                            1062 non-null   int64
 19  Total_expenses                          1062 non-null   int64
 20  Type                                    1062 non-null   object
dtypes: int64(13), object(8)
memory usage: 174.4+ KB

In [29]:
df_cassandra = df_coffe[[
    'Date', 'Sales', 'Cogs', 'Profit',
    'Target_sales', 'Target_profit',
    'Total_expenses', 'DifferenceBetweenActualandTargetProfit'
]].copy()

df_cassandra = df_cassandra.rename(columns={
    'DifferenceBetweenActualandTargetProfit': 'difference'
})

In [32]:
from cassandra.cluster import Cluster

# Connect ke cluster Cassandra
cluster = Cluster(['127.0.0.1'])
session = cluster.connect()

# Buat keyspace
session.execute("""
    CREATE KEYSPACE IF NOT EXISTS cafe_analytics
    WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1}
""")

# Pakai keyspace yang baru dibuat
session.set_keyspace('cafe_analytics')

# Buat tabel (contoh)
session.execute("""
    CREATE TABLE IF NOT EXISTS coffee_data (
        id UUID PRIMARY KEY,
        date text,
        sales int,
        cogs int,
        profit int,
        target_sales int,
        target_profit int,
        total_expenses int,
        difference_profit int
    )
""")

In [34]:
import uuid

insert_query = """
INSERT INTO coffee_data (id, date, sales, cogs, profit, target_sales, target_profit, total_expenses, difference_profit)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)
"""

prepared = session.prepare(insert_query)

for _, row in df_cassandra.iterrows():
    session.execute(prepared, (
        uuid.uuid4(),               # buat unique id
        row['Date'],
        row['Sales'],
        row['Cogs'],
        row['Profit'],
        row['Target_sales'],
        row['Target_profit'],
        row['Total_expenses'],
        row['difference']
    ))

In [35]:
rows = session.execute("SELECT * FROM coffee_data LIMIT 5")
for row in rows:
    print(row)

Row(id=UUID('9c91cdbf-8c15-4110-990e-26ae5ec1927a'), cogs=34, date='5/21/2013', difference_profit=5, profit=45, sales=91, target_profit=40, target_sales=80, total_expenses=21)
Row(id=UUID('aa32aea1-5a88-4096-8dbb-bdde7800d34a'), cogs=86, date='11/18/2014', difference_profit=-2, profit=88, sales=210, target_profit=90, target_sales=200, total_expenses=36)
Row(id=UUID('2b30edac-ba8e-4172-a611-e91693e503f9'), cogs=279, date='8/4/2014', difference_profit=21, profit=271, sales=699, target_profit=250, target_sales=620, total_expenses=149)
Row(id=UUID('f71e3476-b1b2-40cb-8257-30404db66b41'), cogs=41, date='7/15/2013', difference_profit=10, profit=30, sales=107, target_profit=20, target_sales=70, total_expenses=36)
Row(id=UUID('72aa731f-e447-47ee-baca-944392124486'), cogs=61, date='11/4/2013', difference_profit=-9, profit=1, sales=157, target_profit=10, target_sales=110, total_expenses=85)

In [3]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["database1"]

In [4]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["database1"]

mycol = mydb["customers"]

In [5]:
print(mydb.list_collection_names())

[]

In [46]:
for doc in collection.find().limit(5):
    print(doc)

{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143e'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143f'), 'Area Code': 409, 'Market_size': 'Major Market', 'Market': 'South', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Texas', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f4231440'), 'Area Code': 850, 'Market_size': 'Major Market', 'Market': 'East', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Darjeeling', 'State': 'Florida', 'Type': 'Regular'}
{'_id': ObjectId('682dd017f174d523f4231441'), 'Area Code': 562, 'Market_size': 'Major Market', 'Market': 'West', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Green Tea', 'State': 'California', 'Type': 'Regular'}

In [ ]:
pipeline = [
    {
        '$match': {
            'Product': 'Lemon',
            'Product_type': 'Herbal Tea',
            'State': 'Colorado'
        }
    },
    {
        '$group': {
            '_id': None,
            'totalSales': {'$sum': '$Sales'}
        }
    }
]

result = list(collection.aggregate(pipeline))
if result:
    print(f"Total penjualan Lemon Herbal Tea di Colorado: {result[0]['totalSales']}")
else:
    print("Data tidak ditemukan atau Sales kosong")

{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423146c'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423147d'), 'Area Code': 720, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}

In [56]:
from cassandra.cluster import Cluster

cluster = Cluster(['127.0.0.1'])
session = cluster.connect('cafe_analytics')  # connect langsung ke keyspace yang benar

query = """
SELECT * FROM coffee_data LIMIT 5
"""

rows = session.execute(query)
for row in rows:
    print(row)

Row(id=UUID('9c91cdbf-8c15-4110-990e-26ae5ec1927a'), cogs=34, date='5/21/2013', difference_profit=5, profit=45, sales=91, target_profit=40, target_sales=80, total_expenses=21)
Row(id=UUID('aa32aea1-5a88-4096-8dbb-bdde7800d34a'), cogs=86, date='11/18/2014', difference_profit=-2, profit=88, sales=210, target_profit=90, target_sales=200, total_expenses=36)
Row(id=UUID('2b30edac-ba8e-4172-a611-e91693e503f9'), cogs=279, date='8/4/2014', difference_profit=21, profit=271, sales=699, target_profit=250, target_sales=620, total_expenses=149)
Row(id=UUID('f71e3476-b1b2-40cb-8257-30404db66b41'), cogs=41, date='7/15/2013', difference_profit=10, profit=30, sales=107, target_profit=20, target_sales=70, total_expenses=36)
Row(id=UUID('72aa731f-e447-47ee-baca-944392124486'), cogs=61, date='11/4/2013', difference_profit=-9, profit=1, sales=157, target_profit=10, target_sales=110, total_expenses=85)

In [61]:
query = "SELECT sales, profit FROM coffee_data"
rows = session.execute(query)

total_sales = 0
total_profit = 0
for row in rows:
    total_sales += row.sales
    total_profit += row.profit

print(f"Total sales: {total_sales}")
print(f"Total profit: {total_profit}")

Total sales: 202895
Total profit: 64311

In [62]:
query = "SELECT sales, profit, date FROM coffee_data"
rows = session.execute(query)

total_sales_2013 = 0
total_profit_2013 = 0
for row in rows:
    if '2013' in row.date:
        total_sales_2013 += row.sales
        total_profit_2013 += row.profit

print(f"Total sales 2013: {total_sales_2013}")
print(f"Total profit 2013: {total_profit_2013}")

Total sales 2013: 38898
Total profit 2013: 9484

In [63]:
query = "SELECT profit FROM coffee_data"
rows = session.execute(query)

total_profit = 0
count = 0
for row in rows:
    total_profit += row.profit
    count += 1

average_profit = total_profit / count if count > 0 else 0
print(f"Average profit per transaction: {average_profit:.2f}")

Average profit per transaction: 60.56

In [64]:
query = "SELECT difference_profit FROM coffee_data"
rows = session.execute(query)

total_difference = 0
for row in rows:
    total_difference += row.difference_profit

print(f"Total difference profit: {total_difference}")

Total difference profit: 411

In [65]:
query = "SELECT sales, date FROM coffee_data"
rows = session.execute(query)

sales_per_year = {}

for row in rows:
    year = row.date.split('/')[-1]  # asumsikan format 'm/d/yyyy'
    sales_per_year[year] = sales_per_year.get(year, 0) + row.sales

for year, total_sales in sales_per_year.items():
    print(f"Year {year}: Total Sales = {total_sales}")

Year 2013: Total Sales = 38898
Year 2014: Total Sales = 84982
Year 2015: Total Sales = 68154
Year 2012: Total Sales = 10861

In [66]:
query = "SELECT sales, profit, date FROM coffee_data"
rows = session.execute(query)

sales_profit_per_month = {}

for row in rows:
    month_year = '/'.join(row.date.split('/')[-2:])  # ambil mm/yyyy
    if month_year.endswith('2014'):
        if month_year not in sales_profit_per_month:
            sales_profit_per_month[month_year] = {'sales': 0, 'profit': 0}
        sales_profit_per_month[month_year]['sales'] += row.sales
        sales_profit_per_month[month_year]['profit'] += row.profit

for month_year, vals in sales_profit_per_month.items():
    print(f"{month_year}: Sales = {vals['sales']}, Profit = {vals['profit']}")

18/2014: Sales = 2296, Profit = 645
4/2014: Sales = 2877, Profit = 1028
24/2014: Sales = 2595, Profit = 652
2/2014: Sales = 2889, Profit = 957
1/2014: Sales = 2808, Profit = 1123
23/2014: Sales = 3461, Profit = 1098
12/2014: Sales = 3276, Profit = 1097
10/2014: Sales = 2915, Profit = 994
26/2014: Sales = 2293, Profit = 957
3/2014: Sales = 2100, Profit = 595
22/2014: Sales = 2165, Profit = 892
28/2014: Sales = 2263, Profit = 660
21/2014: Sales = 3562, Profit = 1287
7/2014: Sales = 2260, Profit = 791
5/2014: Sales = 3015, Profit = 1493
15/2014: Sales = 2921, Profit = 1155
9/2014: Sales = 2771, Profit = 962
17/2014: Sales = 3033, Profit = 860
11/2014: Sales = 2446, Profit = 829
20/2014: Sales = 4131, Profit = 1881
16/2014: Sales = 2957, Profit = 1308
19/2014: Sales = 2815, Profit = 927
6/2014: Sales = 2391, Profit = 535
13/2014: Sales = 2013, Profit = 445
8/2014: Sales = 2326, Profit = 383
31/2014: Sales = 1773, Profit = 894
14/2014: Sales = 2729, Profit = 1436
29/2014: Sales = 2381, Profit = 817
25/2014: Sales = 3512, Profit = 1496
27/2014: Sales = 3198, Profit = 1114
30/2014: Sales = 2810, Profit = 1069

## 2 DATABASE

In [ ]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client['cafe_db']  # Pastikan ini nama db yang kamu pakai
collection = db['products']  # Pastikan ini nama collection yang kamu pakai

# Contoh insert data
docs = df_mongo.to_dict('records')
collection.insert_many(docs)

InsertManyResult([ObjectId('682ddb4ff174d523f4231923'), ObjectId('682ddb4ff174d523f4231924'), ObjectId('682ddb4ff174d523f4231925'), ObjectId('682ddb4ff174d523f4231926'), ObjectId('682ddb4ff174d523f4231927'), ObjectId('682ddb4ff174d523f4231928'), ObjectId('682ddb4ff174d523f4231929'), ObjectId('682ddb4ff174d523f423192a'), ObjectId('682ddb4ff174d523f423192b'), ObjectId('682ddb4ff174d523f423192c'), ObjectId('682ddb4ff174d523f423192d'), ObjectId('682ddb4ff174d523f423192e'), ObjectId('682ddb4ff174d523f423192f'), ObjectId('682ddb4ff174d523f4231930'), ObjectId('682ddb4ff174d523f4231931'), ObjectId('682ddb4ff174d523f4231932'), ObjectId('682ddb4ff174d523f4231933'), ObjectId('682ddb4ff174d523f4231934'), ObjectId('682ddb4ff174d523f4231935'), ObjectId('682ddb4ff174d523f4231936'), ObjectId('682ddb4ff174d523f4231937'), ObjectId('682ddb4ff174d523f4231938'), ObjectId('682ddb4ff174d523f4231939'), ObjectId('682ddb4ff174d523f423193a'), ObjectId('682ddb4ff174d523f423193b'), ObjectId('682ddb4ff174d523f423193c'), ObjectId('682ddb4ff174d523f423193d'), ObjectId('682ddb4ff174d523f423193e'), ObjectId('682ddb4ff174d523f423193f'), ObjectId('682ddb4ff174d523f4231940'), ObjectId('682ddb4ff174d523f4231941'), ObjectId('682ddb4ff174d523f4231942'), ObjectId('682ddb4ff174d523f4231943'), ObjectId('682ddb4ff174d523f4231944'), ObjectId('682ddb4ff174d523f4231945'), ObjectId('682ddb4ff174d523f4231946'), ObjectId('682ddb4ff174d523f4231947'), ObjectId('682ddb4ff174d523f4231948'), ObjectId('682ddb4ff174d523f4231949'), ObjectId('682ddb4ff174d523f423194a'), ObjectId('682ddb4ff174d523f423194b'), ObjectId('682ddb4ff174d523f423194c'), ObjectId('682ddb4ff174d523f423194d'), ObjectId('682ddb4ff174d523f423194e'), ObjectId('682ddb4ff174d523f423194f'), ObjectId('682ddb4ff174d523f4231950'), ObjectId('682ddb4ff174d523f4231951'), ObjectId('682ddb4ff174d523f4231952'), ObjectId('682ddb4ff174d523f4231953'), ObjectId('682ddb4ff174d523f4231954'), ObjectId('682ddb4ff174d523f4231955'), ObjectId('682ddb4ff174d523f4231956'), ObjectId('682ddb4ff174d523f4231957'), ObjectId('682ddb4ff174d523f4231958'), ObjectId('682ddb4ff174d523f4231959'), ObjectId('682ddb4ff174d523f423195a'), ObjectId('682ddb4ff174d523f423195b'), ObjectId('682ddb4ff174d523f423195c'), ObjectId('682ddb4ff174d523f423195d'), ObjectId('682ddb4ff174d523f423195e'), ObjectId('682ddb4ff174d523f423195f'), ObjectId('682ddb4ff174d523f4231960'), ObjectId('682ddb4ff174d523f4231961'), ObjectId('682ddb4ff174d523f4231962'), ObjectId('682ddb4ff174d523f4231963'), ObjectId('682ddb4ff174d523f4231964'), ObjectId('682ddb4ff174d523f4231965'), ObjectId('682ddb4ff174d523f4231966'), ObjectId('682ddb4ff174d523f4231967'), ObjectId('682ddb4ff174d523f4231968'), ObjectId('682ddb4ff174d523f4231969'), ObjectId('682ddb4ff174d523f423196a'), ObjectId('682ddb4ff174d523f423196b'), ObjectId('682ddb4ff174d523f423196c'), ObjectId('682ddb4ff174d523f423196d'), ObjectId('682ddb4ff174d523f423196e'), ObjectId('682ddb4ff174d523f423196f'), ObjectId('682ddb4ff174d523f4231970'), ObjectId('682ddb4ff174d523f4231971'), ObjectId('682ddb4ff174d523f4231972'), ObjectId('682ddb4ff174d523f4231973'), ObjectId('682ddb4ff174d523f4231974'), ObjectId('682ddb4ff174d523f4231975'), ObjectId('682ddb4ff174d523f4231976'), ObjectId('682ddb4ff174d523f4231977'), ObjectId('682ddb4ff174d523f4231978'), ObjectId('682ddb4ff174d523f4231979'), ObjectId('682ddb4ff174d523f423197a'), ObjectId('682ddb4ff174d523f423197b'), ObjectId('682ddb4ff174d523f423197c'), ObjectId('682ddb4ff174d523f423197d'), ObjectId('682ddb4ff174d523f423197e'), ObjectId('682ddb4ff174d523f423197f'), ObjectId('682ddb4ff174d523f4231980'), ObjectId('682ddb4ff174d523f4231981'), ObjectId('682ddb4ff174d523f4231982'), ObjectId('682ddb4ff174d523f4231983'), ObjectId('682ddb4ff174d523f4231984'), ObjectId('682ddb4ff174d523f4231985'), ObjectId('682ddb4ff174d523f4231986'), ObjectId('682ddb4ff174d523f4231987'), ObjectId('682ddb4ff174d523f4231988'), ObjectId('682ddb4ff174d523f4231989'), ObjectId('682ddb4ff174d523f423198a'), ObjectId('682ddb4ff174d523f423198b'), ObjectId('682ddb4ff174d523f423198c'), ObjectId('682ddb4ff174d523f423198d'), ObjectId('682ddb4ff174d523f423198e'), ObjectId('682ddb4ff174d523f423198f'), ObjectId('682ddb4ff174d523f4231990'), ObjectId('682ddb4ff174d523f4231991'), ObjectId('682ddb4ff174d523f4231992'), ObjectId('682ddb4ff174d523f4231993'), ObjectId('682ddb4ff174d523f4231994'), ObjectId('682ddb4ff174d523f4231995'), ObjectId('682ddb4ff174d523f4231996'), ObjectId('682ddb4ff174d523f4231997'), ObjectId('682ddb4ff174d523f4231998'), ObjectId('682ddb4ff174d523f4231999'), ObjectId('682ddb4ff174d523f423199a'), ObjectId('682ddb4ff174d523f423199b'), ObjectId('682ddb4ff174d523f423199c'), ObjectId('682ddb4ff174d523f423199d'), ObjectId('682ddb4ff174d523f423199e'), ObjectId('682ddb4ff174d523f423199f'), ObjectId('682ddb4ff174d523f42319a0'), ObjectId('682ddb4ff174d523f42319a1'), ObjectId('682ddb4ff174d523f42319a2'), ObjectId('682ddb4ff174d523f42319a3'), ObjectId('682ddb4ff174d523f42319a4'), ObjectId('682ddb4ff174d523f42319a5'), ObjectId('682ddb4ff174d523f42319a6'), ObjectId('682ddb4ff174d523f42319a7'), ObjectId('682ddb4ff174d523f42319a8'), ObjectId('682ddb4ff174d523f42319a9'), ObjectId('682ddb4ff174d523f42319aa'), ObjectId('682ddb4ff174d523f42319ab'), ObjectId('682ddb4ff174d523f42319ac'), ObjectId('682ddb4ff174d523f42319ad'), ObjectId('682ddb4ff174d523f42319ae'), ObjectId('682ddb4ff174d523f42319af'), ObjectId('682ddb4ff174d523f42319b0'), ObjectId('682ddb4ff174d523f42319b1'), ObjectId('682ddb4ff174d523f42319b2'), ObjectId('682ddb4ff174d523f42319b3'), ObjectId('682ddb4ff174d523f42319b4'), ObjectId('682ddb4ff174d523f42319b5'), ObjectId('682ddb4ff174d523f42319b6'), ObjectId('682ddb4ff174d523f42319b7'), ObjectId('682ddb4ff174d523f42319b8'), ObjectId('682ddb4ff174d523f42319b9'), ObjectId('682ddb4ff174d523f42319ba'), ObjectId('682ddb4ff174d523f42319bb'), ObjectId('682ddb4ff174d523f42319bc'), ObjectId('682ddb4ff174d523f42319bd'), ObjectId('682ddb4ff174d523f42319be'), ObjectId('682ddb4ff174d523f42319bf'), ObjectId('682ddb4ff174d523f42319c0'), ObjectId('682ddb4ff174d523f42319c1'), ObjectId('682ddb4ff174d523f42319c2'), ObjectId('682ddb4ff174d523f42319c3'), ObjectId('682ddb4ff174d523f42319c4'), ObjectId('682ddb4ff174d523f42319c5'), ObjectId('682ddb4ff174d523f42319c6'), ObjectId('682ddb4ff174d523f42319c7'), ObjectId('682ddb4ff174d523f42319c8'), ObjectId('682ddb4ff174d523f42319c9'), ObjectId('682ddb4ff174d523f42319ca'), ObjectId('682ddb4ff174d523f42319cb'), ObjectId('682ddb4ff174d523f42319cc'), ObjectId('682ddb4ff174d523f42319cd'), ObjectId('682ddb4ff174d523f42319ce'), ObjectId('682ddb4ff174d523f42319cf'), ObjectId('682ddb4ff174d523f42319d0'), ObjectId('682ddb4ff174d523f42319d1'), ObjectId('682ddb4ff174d523f42319d2'), ObjectId('682ddb4ff174d523f42319d3'), ObjectId('682ddb4ff174d523f42319d4'), ObjectId('682ddb4ff174d523f42319d5'), ObjectId('682ddb4ff174d523f42319d6'), ObjectId('682ddb4ff174d523f42319d7'), ObjectId('682ddb4ff174d523f42319d8'), ObjectId('682ddb4ff174d523f42319d9'), ObjectId('682ddb4ff174d523f42319da'), ObjectId('682ddb4ff174d523f42319db'), ObjectId('682ddb4ff174d523f42319dc'), ObjectId('682ddb4ff174d523f42319dd'), ObjectId('682ddb4ff174d523f42319de'), ObjectId('682ddb4ff174d523f42319df'), ObjectId('682ddb4ff174d523f42319e0'), ObjectId('682ddb4ff174d523f42319e1'), ObjectId('682ddb4ff174d523f42319e2'), ObjectId('682ddb4ff174d523f42319e3'), ObjectId('682ddb4ff174d523f42319e4'), ObjectId('682ddb4ff174d523f42319e5'), ObjectId('682ddb4ff174d523f42319e6'), ObjectId('682ddb4ff174d523f42319e7'), ObjectId('682ddb4ff174d523f42319e8'), ObjectId('682ddb4ff174d523f42319e9'), ObjectId('682ddb4ff174d523f42319ea'), ObjectId('682ddb4ff174d523f42319eb'), ObjectId('682ddb4ff174d523f42319ec'), ObjectId('682ddb4ff174d523f42319ed'), ObjectId('682ddb4ff174d523f42319ee'), ObjectId('682ddb4ff174d523f42319ef'), ObjectId('682ddb4ff174d523f42319f0'), ObjectId('682ddb4ff174d523f42319f1'), ObjectId('682ddb4ff174d523f42319f2'), ObjectId('682ddb4ff174d523f42319f3'), ObjectId('682ddb4ff174d523f42319f4'), ObjectId('682ddb4ff174d523f42319f5'), ObjectId('682ddb4ff174d523f42319f6'), ObjectId('682ddb4ff174d523f42319f7'), ObjectId('682ddb4ff174d523f42319f8'), ObjectId('682ddb4ff174d523f42319f9'), ObjectId('682ddb4ff174d523f42319fa'), ObjectId('682ddb4ff174d523f42319fb'), ObjectId('682ddb4ff174d523f42319fc'), ObjectId('682ddb4ff174d523f42319fd'), ObjectId('682ddb4ff174d523f42319fe'), ObjectId('682ddb4ff174d523f42319ff'), ObjectId('682ddb4ff174d523f4231a00'), ObjectId('682ddb4ff174d523f4231a01'), ObjectId('682ddb4ff174d523f4231a02'), ObjectId('682ddb4ff174d523f4231a03'), ObjectId('682ddb4ff174d523f4231a04'), ObjectId('682ddb4ff174d523f4231a05'), ObjectId('682ddb4ff174d523f4231a06'), ObjectId('682ddb4ff174d523f4231a07'), ObjectId('682ddb4ff174d523f4231a08'), ObjectId('682ddb4ff174d523f4231a09'), ObjectId('682ddb4ff174d523f4231a0a'), ObjectId('682ddb4ff174d523f4231a0b'), ObjectId('682ddb4ff174d523f4231a0c'), ObjectId('682ddb4ff174d523f4231a0d'), ObjectId('682ddb4ff174d523f4231a0e'), ObjectId('682ddb4ff174d523f4231a0f'), ObjectId('682ddb4ff174d523f4231a10'), ObjectId('682ddb4ff174d523f4231a11'), ObjectId('682ddb4ff174d523f4231a12'), ObjectId('682ddb4ff174d523f4231a13'), ObjectId('682ddb4ff174d523f4231a14'), ObjectId('682ddb4ff174d523f4231a15'), ObjectId('682ddb4ff174d523f4231a16'), ObjectId('682ddb4ff174d523f4231a17'), ObjectId('682ddb4ff174d523f4231a18'), ObjectId('682ddb4ff174d523f4231a19'), ObjectId('682ddb4ff174d523f4231a1a'), ObjectId('682ddb4ff174d523f4231a1b'), ObjectId('682ddb4ff174d523f4231a1c'), ObjectId('682ddb4ff174d523f4231a1d'), ObjectId('682ddb4ff174d523f4231a1e'), ObjectId('682ddb4ff174d523f4231a1f'), ObjectId('682ddb4ff174d523f4231a20'), ObjectId('682ddb4ff174d523f4231a21'), ObjectId('682ddb4ff174d523f4231a22'), ObjectId('682ddb4ff174d523f4231a23'), ObjectId('682ddb4ff174d523f4231a24'), ObjectId('682ddb4ff174d523f4231a25'), ObjectId('682ddb4ff174d523f4231a26'), ObjectId('682ddb4ff174d523f4231a27'), ObjectId('682ddb4ff174d523f4231a28'), ObjectId('682ddb4ff174d523f4231a29'), ObjectId('682ddb4ff174d523f4231a2a'), ObjectId('682ddb4ff174d523f4231a2b'), ObjectId('682ddb4ff174d523f4231a2c'), ObjectId('682ddb4ff174d523f4231a2d'), ObjectId('682ddb4ff174d523f4231a2e'), ObjectId('682ddb4ff174d523f4231a2f'), ObjectId('682ddb4ff174d523f4231a30'), ObjectId('682ddb4ff174d523f4231a31'), ObjectId('682ddb4ff174d523f4231a32'), ObjectId('682ddb4ff174d523f4231a33'), ObjectId('682ddb4ff174d523f4231a34'), ObjectId('682ddb4ff174d523f4231a35'), ObjectId('682ddb4ff174d523f4231a36'), ObjectId('682ddb4ff174d523f4231a37'), ObjectId('682ddb4ff174d523f4231a38'), ObjectId('682ddb4ff174d523f4231a39'), ObjectId('682ddb4ff174d523f4231a3a'), ObjectId('682ddb4ff174d523f4231a3b'), ObjectId('682ddb4ff174d523f4231a3c'), ObjectId('682ddb4ff174d523f4231a3d'), ObjectId('682ddb4ff174d523f4231a3e'), ObjectId('682ddb4ff174d523f4231a3f'), ObjectId('682ddb4ff174d523f4231a40'), ObjectId('682ddb4ff174d523f4231a41'), ObjectId('682ddb4ff174d523f4231a42'), ObjectId('682ddb4ff174d523f4231a43'), ObjectId('682ddb4ff174d523f4231a44'), ObjectId('682ddb4ff174d523f4231a45'), ObjectId('682ddb4ff174d523f4231a46'), ObjectId('682ddb4ff174d523f4231a47'), ObjectId('682ddb4ff174d523f4231a48'), ObjectId('682ddb4ff174d523f4231a49'), ObjectId('682ddb4ff174d523f4231a4a'), ObjectId('682ddb4ff174d523f4231a4b'), ObjectId('682ddb4ff174d523f4231a4c'), ObjectId('682ddb4ff174d523f4231a4d'), ObjectId('682ddb4ff174d523f4231a4e'), ObjectId('682ddb4ff174d523f4231a4f'), ObjectId('682ddb4ff174d523f4231a50'), ObjectId('682ddb4ff174d523f4231a51'), ObjectId('682ddb4ff174d523f4231a52'), ObjectId('682ddb4ff174d523f4231a53'), ObjectId('682ddb4ff174d523f4231a54'), ObjectId('682ddb4ff174d523f4231a55'), ObjectId('682ddb4ff174d523f4231a56'), ObjectId('682ddb4ff174d523f4231a57'), ObjectId('682ddb4ff174d523f4231a58'), ObjectId('682ddb4ff174d523f4231a59'), ObjectId('682ddb4ff174d523f4231a5a'), ObjectId('682ddb4ff174d523f4231a5b'), ObjectId('682ddb4ff174d523f4231a5c'), ObjectId('682ddb4ff174d523f4231a5d'), ObjectId('682ddb4ff174d523f4231a5e'), ObjectId('682ddb4ff174d523f4231a5f'), ObjectId('682ddb4ff174d523f4231a60'), ObjectId('682ddb4ff174d523f4231a61'), ObjectId('682ddb4ff174d523f4231a62'), ObjectId('682ddb4ff174d523f4231a63'), ObjectId('682ddb4ff174d523f4231a64'), ObjectId('682ddb4ff174d523f4231a65'), ObjectId('682ddb4ff174d523f4231a66'), ObjectId('682ddb4ff174d523f4231a67'), ObjectId('682ddb4ff174d523f4231a68'), ObjectId('682ddb4ff174d523f4231a69'), ObjectId('682ddb4ff174d523f4231a6a'), ObjectId('682ddb4ff174d523f4231a6b'), ObjectId('682ddb4ff174d523f4231a6c'), ObjectId('682ddb4ff174d523f4231a6d'), ObjectId('682ddb4ff174d523f4231a6e'), ObjectId('682ddb4ff174d523f4231a6f'), ObjectId('682ddb4ff174d523f4231a70'), ObjectId('682ddb4ff174d523f4231a71'), ObjectId('682ddb4ff174d523f4231a72'), ObjectId('682ddb4ff174d523f4231a73'), ObjectId('682ddb4ff174d523f4231a74'), ObjectId('682ddb4ff174d523f4231a75'), ObjectId('682ddb4ff174d523f4231a76'), ObjectId('682ddb4ff174d523f4231a77'), ObjectId('682ddb4ff174d523f4231a78'), ObjectId('682ddb4ff174d523f4231a79'), ObjectId('682ddb4ff174d523f4231a7a'), ObjectId('682ddb4ff174d523f4231a7b'), ObjectId('682ddb4ff174d523f4231a7c'), ObjectId('682ddb4ff174d523f4231a7d'), ObjectId('682ddb4ff174d523f4231a7e'), ObjectId('682ddb4ff174d523f4231a7f'), ObjectId('682ddb4ff174d523f4231a80'), ObjectId('682ddb4ff174d523f4231a81'), ObjectId('682ddb4ff174d523f4231a82'), ObjectId('682ddb4ff174d523f4231a83'), ObjectId('682ddb4ff174d523f4231a84'), ObjectId('682ddb4ff174d523f4231a85'), ObjectId('682ddb4ff174d523f4231a86'), ObjectId('682ddb4ff174d523f4231a87'), ObjectId('682ddb4ff174d523f4231a88'), ObjectId('682ddb4ff174d523f4231a89'), ObjectId('682ddb4ff174d523f4231a8a'), ObjectId('682ddb4ff174d523f4231a8b'), ObjectId('682ddb4ff174d523f4231a8c'), ObjectId('682ddb4ff174d523f4231a8d'), ObjectId('682ddb4ff174d523f4231a8e'), ObjectId('682ddb4ff174d523f4231a8f'), ObjectId('682ddb4ff174d523f4231a90'), ObjectId('682ddb4ff174d523f4231a91'), ObjectId('682ddb4ff174d523f4231a92'), ObjectId('682ddb4ff174d523f4231a93'), ObjectId('682ddb4ff174d523f4231a94'), ObjectId('682ddb4ff174d523f4231a95'), ObjectId('682ddb4ff174d523f4231a96'), ObjectId('682ddb4ff174d523f4231a97'), ObjectId('682ddb4ff174d523f4231a98'), ObjectId('682ddb4ff174d523f4231a99'), ObjectId('682ddb4ff174d523f4231a9a'), ObjectId('682ddb4ff174d523f4231a9b'), ObjectId('682ddb4ff174d523f4231a9c'), ObjectId('682ddb4ff174d523f4231a9d'), ObjectId('682ddb4ff174d523f4231a9e'), ObjectId('682ddb4ff174d523f4231a9f'), ObjectId('682ddb4ff174d523f4231aa0'), ObjectId('682ddb4ff174d523f4231aa1'), ObjectId('682ddb4ff174d523f4231aa2'), ObjectId('682ddb4ff174d523f4231aa3'), ObjectId('682ddb4ff174d523f4231aa4'), ObjectId('682ddb4ff174d523f4231aa5'), ObjectId('682ddb4ff174d523f4231aa6'), ObjectId('682ddb4ff174d523f4231aa7'), ObjectId('682ddb4ff174d523f4231aa8'), ObjectId('682ddb4ff174d523f4231aa9'), ObjectId('682ddb4ff174d523f4231aaa'), ObjectId('682ddb4ff174d523f4231aab'), ObjectId('682ddb4ff174d523f4231aac'), ObjectId('682ddb4ff174d523f4231aad'), ObjectId('682ddb4ff174d523f4231aae'), ObjectId('682ddb4ff174d523f4231aaf'), ObjectId('682ddb4ff174d523f4231ab0'), ObjectId('682ddb4ff174d523f4231ab1'), ObjectId('682ddb4ff174d523f4231ab2'), ObjectId('682ddb4ff174d523f4231ab3'), ObjectId('682ddb4ff174d523f4231ab4'), ObjectId('682ddb4ff174d523f4231ab5'), ObjectId('682ddb4ff174d523f4231ab6'), ObjectId('682ddb4ff174d523f4231ab7'), ObjectId('682ddb4ff174d523f4231ab8'), ObjectId('682ddb4ff174d523f4231ab9'), ObjectId('682ddb4ff174d523f4231aba'), ObjectId('682ddb4ff174d523f4231abb'), ObjectId('682ddb4ff174d523f4231abc'), ObjectId('682ddb4ff174d523f4231abd'), ObjectId('682ddb4ff174d523f4231abe'), ObjectId('682ddb4ff174d523f4231abf'), ObjectId('682ddb4ff174d523f4231ac0'), ObjectId('682ddb4ff174d523f4231ac1'), ObjectId('682ddb4ff174d523f4231ac2'), ObjectId('682ddb4ff174d523f4231ac3'), ObjectId('682ddb4ff174d523f4231ac4'), ObjectId('682ddb4ff174d523f4231ac5'), ObjectId('682ddb4ff174d523f4231ac6'), ObjectId('682ddb4ff174d523f4231ac7'), ObjectId('682ddb4ff174d523f4231ac8'), ObjectId('682ddb4ff174d523f4231ac9'), ObjectId('682ddb4ff174d523f4231aca'), ObjectId('682ddb4ff174d523f4231acb'), ObjectId('682ddb4ff174d523f4231acc'), ObjectId('682ddb4ff174d523f4231acd'), ObjectId('682ddb4ff174d523f4231ace'), ObjectId('682ddb4ff174d523f4231acf'), ObjectId('682ddb4ff174d523f4231ad0'), ObjectId('682ddb4ff174d523f4231ad1'), ObjectId('682ddb4ff174d523f4231ad2'), ObjectId('682ddb4ff174d523f4231ad3'), ObjectId('682ddb4ff174d523f4231ad4'), ObjectId('682ddb4ff174d523f4231ad5'), ObjectId('682ddb4ff174d523f4231ad6'), ObjectId('682ddb4ff174d523f4231ad7'), ObjectId('682ddb4ff174d523f4231ad8'), ObjectId('682ddb4ff174d523f4231ad9'), ObjectId('682ddb4ff174d523f4231ada'), ObjectId('682ddb4ff174d523f4231adb'), ObjectId('682ddb4ff174d523f4231adc'), ObjectId('682ddb4ff174d523f4231add'), ObjectId('682ddb4ff174d523f4231ade'), ObjectId('682ddb4ff174d523f4231adf'), ObjectId('682ddb4ff174d523f4231ae0'), ObjectId('682ddb4ff174d523f4231ae1'), ObjectId('682ddb4ff174d523f4231ae2'), ObjectId('682ddb4ff174d523f4231ae3'), ObjectId('682ddb4ff174d523f4231ae4'), ObjectId('682ddb4ff174d523f4231ae5'), ObjectId('682ddb4ff174d523f4231ae6'), ObjectId('682ddb4ff174d523f4231ae7'), ObjectId('682ddb4ff174d523f4231ae8'), ObjectId('682ddb4ff174d523f4231ae9'), ObjectId('682ddb4ff174d523f4231aea'), ObjectId('682ddb4ff174d523f4231aeb'), ObjectId('682ddb4ff174d523f4231aec'), ObjectId('682ddb4ff174d523f4231aed'), ObjectId('682ddb4ff174d523f4231aee'), ObjectId('682ddb4ff174d523f4231aef'), ObjectId('682ddb4ff174d523f4231af0'), ObjectId('682ddb4ff174d523f4231af1'), ObjectId('682ddb4ff174d523f4231af2'), ObjectId('682ddb4ff174d523f4231af3'), ObjectId('682ddb4ff174d523f4231af4'), ObjectId('682ddb4ff174d523f4231af5'), ObjectId('682ddb4ff174d523f4231af6'), ObjectId('682ddb4ff174d523f4231af7'), ObjectId('682ddb4ff174d523f4231af8'), ObjectId('682ddb4ff174d523f4231af9'), ObjectId('682ddb4ff174d523f4231afa'), ObjectId('682ddb4ff174d523f4231afb'), ObjectId('682ddb4ff174d523f4231afc'), ObjectId('682ddb4ff174d523f4231afd'), ObjectId('682ddb4ff174d523f4231afe'), ObjectId('682ddb4ff174d523f4231aff'), ObjectId('682ddb4ff174d523f4231b00'), ObjectId('682ddb4ff174d523f4231b01'), ObjectId('682ddb4ff174d523f4231b02'), ObjectId('682ddb4ff174d523f4231b03'), ObjectId('682ddb4ff174d523f4231b04'), ObjectId('682ddb4ff174d523f4231b05'), ObjectId('682ddb4ff174d523f4231b06'), ObjectId('682ddb4ff174d523f4231b07'), ObjectId('682ddb4ff174d523f4231b08'), ObjectId('682ddb4ff174d523f4231b09'), ObjectId('682ddb4ff174d523f4231b0a'), ObjectId('682ddb4ff174d523f4231b0b'), ObjectId('682ddb4ff174d523f4231b0c'), ObjectId('682ddb4ff174d523f4231b0d'), ObjectId('682ddb4ff174d523f4231b0e'), ObjectId('682ddb4ff174d523f4231b0f'), ObjectId('682ddb4ff174d523f4231b10'), ObjectId('682ddb4ff174d523f4231b11'), ObjectId('682ddb4ff174d523f4231b12'), ObjectId('682ddb4ff174d523f4231b13'), ObjectId('682ddb4ff174d523f4231b14'), ObjectId('682ddb4ff174d523f4231b15'), ObjectId('682ddb4ff174d523f4231b16'), ObjectId('682ddb4ff174d523f4231b17'), ObjectId('682ddb4ff174d523f4231b18'), ObjectId('682ddb4ff174d523f4231b19'), ObjectId('682ddb4ff174d523f4231b1a'), ObjectId('682ddb4ff174d523f4231b1b'), ObjectId('682ddb4ff174d523f4231b1c'), ObjectId('682ddb4ff174d523f4231b1d'), ObjectId('682ddb4ff174d523f4231b1e'), ObjectId('682ddb4ff174d523f4231b1f'), ObjectId('682ddb4ff174d523f4231b20'), ObjectId('682ddb4ff174d523f4231b21'), ObjectId('682ddb4ff174d523f4231b22'), ObjectId('682ddb4ff174d523f4231b23'), ObjectId('682ddb4ff174d523f4231b24'), ObjectId('682ddb4ff174d523f4231b25'), ObjectId('682ddb4ff174d523f4231b26'), ObjectId('682ddb4ff174d523f4231b27'), ObjectId('682ddb4ff174d523f4231b28'), ObjectId('682ddb4ff174d523f4231b29'), ObjectId('682ddb4ff174d523f4231b2a'), ObjectId('682ddb4ff174d523f4231b2b'), ObjectId('682ddb4ff174d523f4231b2c'), ObjectId('682ddb4ff174d523f4231b2d'), ObjectId('682ddb4ff174d523f4231b2e'), ObjectId('682ddb4ff174d523f4231b2f'), ObjectId('682ddb4ff174d523f4231b

In [71]:
from bson import ObjectId

ids = [ObjectId("682ddb4ff174d523f4231923"), ObjectId("682ddb4ff174d523f4231924")]  # contoh saja

db.collection.find({
    "_id": {"$in": ids}
})

In [72]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)

db = client['cafe_db']
collection = db['products']  # nama koleksi sesuai data

In [79]:
for doc in collection.find().limit(5):
    print(doc)

{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143e'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143f'), 'Area Code': 409, 'Market_size': 'Major Market', 'Market': 'South', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Texas', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f4231440'), 'Area Code': 850, 'Market_size': 'Major Market', 'Market': 'East', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Darjeeling', 'State': 'Florida', 'Type': 'Regular'}
{'_id': ObjectId('682dd017f174d523f4231441'), 'Area Code': 562, 'Market_size': 'Major Market', 'Market': 'West', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Green Tea', 'State': 'California', 'Type': 'Regular'}

In [76]:
print(db.list_collection_names())
for doc in db.orders.find().limit(3):
    print(doc)

['products']

In [77]:
from bson import ObjectId

# Contoh insert ke collection orders
orders = db['orders']

orders.insert_many([
    {"order_id": 1, "product_id": ObjectId("682dd017f174d523f423143d"), "quantity": 10},
    {"order_id": 2, "product_id": ObjectId("682dd017f174d523f423143e"), "quantity": 5},
])

InsertManyResult([ObjectId('682df7fcf174d523f4231b93'), ObjectId('682df7fcf174d523f4231b94')], acknowledged=True)

In [78]:
pipeline = [
    {
        "$lookup": {
            "from": "products",
            "localField": "product_id",
            "foreignField": "_id",
            "as": "product_details"
        }
    }
]

results = db.orders.aggregate(pipeline)
for res in results:
    print(res)

{'_id': ObjectId('682df7fcf174d523f4231b93'), 'order_id': 1, 'product_id': ObjectId('682dd017f174d523f423143d'), 'quantity': 10, 'product_details': [{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}]}
{'_id': ObjectId('682df7fcf174d523f4231b94'), 'order_id': 2, 'product_id': ObjectId('682dd017f174d523f423143e'), 'quantity': 5, 'product_details': [{'_id': ObjectId('682dd017f174d523f423143e'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}]}

In [80]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client['cafe_db']
products_collection = db['products']

mongo_data = list(products_collection.find())
mongo_map = {item['Product']: item for item in mongo_data}  # Indexed by product name

In [81]:
from cassandra.cluster import Cluster

cluster = Cluster(['127.0.0.1'])
session = cluster.connect('cafe_analytics')

rows = session.execute("SELECT * FROM coffee_data")
cassandra_data = [row._asdict() for row in rows]

In [82]:
# Asumsi kolom `product_name` ada di Cassandra dan cocok dengan `Product` di MongoDB
joined_data = []

for row in cassandra_data:
    product_name = row.get('product_name')
    mongo_info = mongo_map.get(product_name)
    
    if mongo_info:
        combined = {
            **row,
            **mongo_info
        }
        joined_data.append(combined)

# Tampilkan hasil gabungan
for item in joined_data[:5]:
    print(item)

In [83]:
Row(id=UUID(...), cogs=34, date='5/21/2013', difference_profit=5, profit=45, sales=91, target_profit=40, target_sales=80, total_expenses=21)

NameError: name 'Row' is not defined