## IMPORT DATAFRAME

In [1]:
import pandas as pd
df_coffe = pd.read_csv('Coffee_Chain_Sales .csv')
df_coffe.head()

,Area Code,Cogs,DifferenceBetweenActualandTargetProfit,Date,Inventory Margin,Margin,Market_size,Market,Marketing,Product_line,...,Product,Profit,Sales,State,Target_cogs,Target_margin,Target_profit,Target_sales,Total_expenses,Type
0,303,51,-35,10/1/2012,503,71,Major Market,Central,46,Leaves,...,Lemon,-5,122,Colorado,30,60,30,90,76,Decaf
1,970,52,-24,10/1/2012,405,71,Major Market,Central,17,Leaves,...,Mint,26,123,Colorado,30,60,50,90,45,Decaf
2,409,43,-22,10/2/2012,419,64,Major Market,South,13,Leaves,...,Lemon,28,107,Texas,30,60,50,90,36,Decaf
3,850,38,-15,10/3/2012,871,56,Major Market,East,10,Leaves,...,Darjeeling,35,94,Florida,40,60,50,100,21,Regular
4,562,72,6,10/4/2012,650,110,Major Market,West,23,Leaves,...,Green Tea,56,182,California,20,60,50,80,54,Regular

In [2]:
df_coffe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1062 entries, 0 to 1061
Data columns (total 21 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Area Code                               1062 non-null   int64
 1   Cogs                                    1062 non-null   int64
 2   DifferenceBetweenActualandTargetProfit  1062 non-null   int64
 3   Date                                    1062 non-null   object
 4   Inventory Margin                        1062 non-null   int64
 5   Margin                                  1062 non-null   int64
 6   Market_size                             1062 non-null   object
 7   Market                                  1062 non-null   object
 8   Marketing                               1062 non-null   int64
 9   Product_line                            1062 non-null   object
 10  Product_type                            1062 non-null   object
 11  Product                                 1062 non-null   object
 12  Profit                                  1062 non-null   int64
 13  Sales                                   1062 non-null   int64
 14  State                                   1062 non-null   object
 15  Target_cogs                             1062 non-null   int64
 16  Target_margin                           1062 non-null   int64
 17  Target_profit                           1062 non-null   int64
 18  Target_sales                            1062 non-null   int64
 19  Total_expenses                          1062 non-null   int64
 20  Type                                    1062 non-null   object
dtypes: int64(13), object(8)
memory usage: 174.4+ KB

## DATABASE MONGODB

In [3]:
df_mongo = df_coffe[['Area Code', 'Market_size', 'Market', 'Product_line', 'Product_type', 'Product', 'State', 'Type']].drop_duplicates()

In [4]:
print(df_mongo.head())

   Area Code   Market_size   Market Product_line Product_type     Product  \
0        303  Major Market  Central       Leaves   Herbal Tea       Lemon
1        970  Major Market  Central       Leaves   Herbal Tea        Mint
2        409  Major Market    South       Leaves   Herbal Tea       Lemon
3        850  Major Market     East       Leaves          Tea  Darjeeling
4        562  Major Market     West       Leaves          Tea   Green Tea

        State     Type
0    Colorado    Decaf
1    Colorado    Decaf
2       Texas    Decaf
3     Florida  Regular
4  California  Regular

In [7]:
from pymongo import MongoClient
import pandas as pd

# Subset data
df_locations = df_mongo[['Area Code', 'Market_size', 'Market', 'State']].drop_duplicates()
df_products = df_mongo[['Product_line', 'Product_type', 'Product', 'Type']].drop_duplicates()

# Koneksi ke MongoDB
client = MongoClient('localhost', 27017)
db = client['cafe_db']

# Insert ke collection `locations`
locations_collection = db['locations']
location_records = df_locations.to_dict(orient='records')
locations_collection.insert_many(location_records)
print(f"{len(location_records)} records berhasil dimasukkan ke collection 'locations'!")

# Insert ke collection `products`
products_collection = db['products']
product_records = df_products.to_dict(orient='records')
products_collection.insert_many(product_records)
print(f"{len(product_records)} records berhasil dimasukkan ke collection 'products'!")

149 records berhasil dimasukkan ke collection 'locations'!
13 records berhasil dimasukkan ke collection 'products'!

In [ ]:
for doc in products_collection.find().limit(5):
    print(doc)

{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143e'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143f'), 'Area Code': 409, 'Market_size': 'Major Market', 'Market': 'South', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Texas', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f4231440'), 'Area Code': 850, 'Market_size': 'Major Market', 'Market': 'East', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Darjeeling', 'State': 'Florida', 'Type': 'Regular'}
{'_id': ObjectId('682dd017f174d523f4231441'), 'Area Code': 562, 'Market_size': 'Major Market', 'Market': 'West', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Green Tea', 'State': 'California', 'Type': 'Regular'}

In [9]:
for doc in locations_collection.find().limit(5):
    print(doc)

{'_id': ObjectId('68366a59af5d9ba087d8635c'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'State': 'Colorado'}
{'_id': ObjectId('68366a59af5d9ba087d8635d'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'State': 'Colorado'}
{'_id': ObjectId('68366a59af5d9ba087d8635e'), 'Area Code': 409, 'Market_size': 'Major Market', 'Market': 'South', 'State': 'Texas'}
{'_id': ObjectId('68366a59af5d9ba087d8635f'), 'Area Code': 850, 'Market_size': 'Major Market', 'Market': 'East', 'State': 'Florida'}
{'_id': ObjectId('68366a59af5d9ba087d86360'), 'Area Code': 562, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}

In [5]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)

db = client['cafe_db']
collection = db['products']

records = df_mongo.to_dict(orient='records')

collection.insert_many(records)

print(f"{len(records)} records berhasil dimasukkan ke MongoDB!")

623 records berhasil dimasukkan ke MongoDB!

In [ ]:
for doc in collection.find().limit(5):
    print(doc)

{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143e'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143f'), 'Area Code': 409, 'Market_size': 'Major Market', 'Market': 'South', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Texas', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f4231440'), 'Area Code': 850, 'Market_size': 'Major Market', 'Market': 'East', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Darjeeling', 'State': 'Florida', 'Type': 'Regular'}
{'_id': ObjectId('682dd017f174d523f4231441'), 'Area Code': 562, 'Market_size': 'Major Market', 'Market': 'West', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Green Tea', 'State': 'California', 'Type': 'Regular'}

In [10]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client['cafe_db']
locations = db['locations']
products = db['products']

In [11]:
result = locations.find({'State': 'California'})
for doc in result:
    print(doc)

{'_id': ObjectId('68366a59af5d9ba087d86360'), 'Area Code': 562, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d86381'), 'Area Code': 619, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d86389'), 'Area Code': 510, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d86399'), 'Area Code': 408, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d8639c'), 'Area Code': 209, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863a3'), 'Area Code': 707, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863a5'), 'Area Code': 650, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863a7'), 'Area Code': 805, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863ad'), 'Area Code': 626, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863b1'), 'Area Code': 323, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863b2'), 'Area Code': 760, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863b8'), 'Area Code': 530, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863cf'), 'Area Code': 213, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863e6'), 'Area Code': 951, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863e7'), 'Area Code': 714, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863e8'), 'Area Code': 818, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863e9'), 'Area Code': 661, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863ea'), 'Area Code': 909, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863eb'), 'Area Code': 559, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863ec'), 'Area Code': 916, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863ed'), 'Area Code': 415, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863ee'), 'Area Code': 925, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863ef'), 'Area Code': 831, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}
{'_id': ObjectId('68366a59af5d9ba087d863f0'), 'Area Code': 949, 'Market_size': 'Major Market', 'Market': 'West', 'State': 'California'}

In [12]:
result = products.find({'Product_line': 'Coffee'})
for doc in result:
    print(doc)

In [13]:
result = products.find({
    'Product_type': 'Regular',
    'Product': {'$regex': 'Latte', '$options': 'i'}
})
for doc in result:
    print(doc)

In [14]:
result = locations.find({'Market_size': 'Large'})
for doc in result:
    print(doc)

## DATABASE CASSANDRA

In [15]:
df_coffe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1062 entries, 0 to 1061
Data columns (total 21 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Area Code                               1062 non-null   int64
 1   Cogs                                    1062 non-null   int64
 2   DifferenceBetweenActualandTargetProfit  1062 non-null   int64
 3   Date                                    1062 non-null   object
 4   Inventory Margin                        1062 non-null   int64
 5   Margin                                  1062 non-null   int64
 6   Market_size                             1062 non-null   object
 7   Market                                  1062 non-null   object
 8   Marketing                               1062 non-null   int64
 9   Product_line                            1062 non-null   object
 10  Product_type                            1062 non-null   object
 11  Product                                 1062 non-null   object
 12  Profit                                  1062 non-null   int64
 13  Sales                                   1062 non-null   int64
 14  State                                   1062 non-null   object
 15  Target_cogs                             1062 non-null   int64
 16  Target_margin                           1062 non-null   int64
 17  Target_profit                           1062 non-null   int64
 18  Target_sales                            1062 non-null   int64
 19  Total_expenses                          1062 non-null   int64
 20  Type                                    1062 non-null   object
dtypes: int64(13), object(8)
memory usage: 174.4+ KB

In [18]:
df_sales_by_date = df_coffe[['Date', 'Sales', 'Cogs', 'Profit']].copy()
df_targets_by_date = df_coffe[['Date', 'Target_sales ', 'Target_profit', 'Total_expenses']].copy()
df_performance_by_date = df_coffe[['Date', 'Profit', 'Target_profit', 'DifferenceBetweenActualandTargetProfit']].copy()
df_performance_by_date = df_performance_by_date.rename(columns={'Profit': 'actual_profit'})

In [ ]:
from cassandra.cluster import Cluster
from cassandra.query import SimpleStatement
from uuid import uuid4

cluster = Cluster(['127.0.0.1'])
session = cluster.connect()

session.execute("""
    CREATE KEYSPACE IF NOT EXISTS cafe_analytics
    WITH replication = {'class': 'SimpleStrategy', 'replication_factor': 1}
""")

session.set_keyspace('cafe_analytics')

session.execute("""
    CREATE TABLE IF NOT EXISTS coffee_data (
        id UUID PRIMARY KEY,
        date text,
        sales int,
        cogs int,
        profit int,
        target_sales int,
        target_profit int,
        total_expenses int,
        difference_profit int
    )
""")

In [21]:
# Ambil dan siapkan kolom yang sesuai
df_cassandra = df_coffe[[
    'Date', 'Sales', 'Cogs', 'Profit',
    'Target_sales ', 'Target_profit',
    'Total_expenses', 'DifferenceBetweenActualandTargetProfit'
]].copy()

# Rename kolom supaya cocok dengan skema Cassandra
df_cassandra = df_cassandra.rename(columns={
    'DifferenceBetweenActualandTargetProfit': 'difference'
})

In [ ]:
# Sisipkan data baris demi baris
for _, row in df_cassandra.iterrows():
    session.execute("""
        INSERT INTO coffee_data (
            id, date, sales, cogs, profit,
            target_sales, target_profit,
            total_expenses, difference_profit
        ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """, (
        uuid4(),                       
        row['Date'],                  
        int(row['Sales']),
        int(row['Cogs']),
        int(row['Profit']),
        int(row['Target_sales ']),
        int(row['Target_profit']),
        int(row['Total_expenses']),
        int(row['difference'])         
    ))

In [24]:
rows = session.execute("SELECT * FROM coffee_data LIMIT 5")
for row in rows:
    print(row)

Row(id=UUID('39c69138-ddc9-499c-9e8a-6a0ea75bb965'), cogs=90, date='10/9/2014', difference_profit=-6, profit=74, sales=205, target_profit=80, target_sales=140, total_expenses=41)
Row(id=UUID('9c91cdbf-8c15-4110-990e-26ae5ec1927a'), cogs=34, date='5/21/2013', difference_profit=5, profit=45, sales=91, target_profit=40, target_sales=80, total_expenses=21)
Row(id=UUID('aa32aea1-5a88-4096-8dbb-bdde7800d34a'), cogs=86, date='11/18/2014', difference_profit=-2, profit=88, sales=210, target_profit=90, target_sales=200, total_expenses=36)
Row(id=UUID('8ffd992d-b1c4-4e72-b187-3880e93f6fb3'), cogs=72, date='12/15/2012', difference_profit=33, profit=83, sales=194, target_profit=50, target_sales=80, total_expenses=54)
Row(id=UUID('2b30edac-ba8e-4172-a611-e91693e503f9'), cogs=279, date='8/4/2014', difference_profit=21, profit=271, sales=699, target_profit=250, target_sales=620, total_expenses=149)

In [26]:
rows = session.execute("""
    SELECT * FROM coffee_data WHERE difference_profit > 0 ALLOW FILTERING
""")
for row in rows:
    print(row)

Row(id=UUID('9c91cdbf-8c15-4110-990e-26ae5ec1927a'), cogs=34, date='5/21/2013', difference_profit=5, profit=45, sales=91, target_profit=40, target_sales=80, total_expenses=21)
Row(id=UUID('8ffd992d-b1c4-4e72-b187-3880e93f6fb3'), cogs=72, date='12/15/2012', difference_profit=33, profit=83, sales=194, target_profit=50, target_sales=80, total_expenses=54)
Row(id=UUID('2b30edac-ba8e-4172-a611-e91693e503f9'), cogs=279, date='8/4/2014', difference_profit=21, profit=271, sales=699, target_profit=250, target_sales=620, total_expenses=149)
Row(id=UUID('f71e3476-b1b2-40cb-8257-30404db66b41'), cogs=41, date='7/15/2013', difference_profit=10, profit=30, sales=107, target_profit=20, target_sales=70, total_expenses=36)
Row(id=UUID('003e5bd8-97a2-4bf2-960c-93aad76bd05f'), cogs=33, date='8/18/2013', difference_profit=13, profit=43, sales=87, target_profit=30, target_sales=70, total_expenses=20)
Row(id=UUID('f79d22bf-47bb-44cd-8447-725875439446'), cogs=81, date='12/2/2014', difference_profit=6, profit=66, sales=185, target_profit=60, target_sales=150, total_expenses=38)
Row(id=UUID('6413702b-3a06-4e71-86a5-9e95ab0df4d7'), cogs=41, date='8/31/2013', difference_profit=25, profit=45, sales=114, target_profit=20, target_sales=70, total_expenses=36)
Row(id=UUID('4c27d381-4ae7-4ba0-95cd-959e99a57144'), cogs=75, date='11/4/2014', difference_profit=9, profit=59, sales=189, target_profit=50, target_sales=150, total_expenses=55)
Row(id=UUID('f0df31b1-2699-41a0-849c-0173beb253c6'), cogs=83, date='2/23/2015', difference_profit=15, profit=85, sales=208, target_profit=70, target_sales=190, total_expenses=55)
Row(id=UUID('946a373b-7afc-402a-9cdf-6bd9b11563e4'), cogs=88, date='8/24/2015', difference_profit=48, profit=108, sales=236, target_profit=60, target_sales=160, total_expenses=60)
Row(id=UUID('a6c3455c-4f41-43b6-9be3-d7383a7ee520'), cogs=61, date='1/28/2013', difference_profit=1, profit=1, sales=157, target_profit=0, target_sales=100, total_expenses=85)
Row(id=UUID('56621333-1b03-4395-b79a-c0408038b7bc'), cogs=55, date='4/11/2013', difference_profit=7, profit=-3, sales=131, target_profit=-10, target_sales=90, total_expenses=79)
Row(id=UUID('65f94914-a96f-4fce-b139-cd05a80a6fb3'), cogs=247, date='2/28/2015', difference_profit=121, profit=321, sales=614, target_profit=200, target_sales=530, total_expenses=113)
Row(id=UUID('341a63df-f178-40c8-a68c-5d2839736f9d'), cogs=127, date='3/1/2015', difference_profit=63, profit=183, sales=332, target_profit=120, target_sales=290, total_expenses=62)
Row(id=UUID('7b8cbcd5-84c3-452c-9142-e86b1ce50016'), cogs=65, date='10/10/2013', difference_profit=2, profit=22, sales=145, target_profit=20, target_sales=130, total_expenses=58)
Row(id=UUID('8a5e68e5-4f43-47ce-8ba6-d41a6de16f20'), cogs=52, date='11/22/2013', difference_profit=13, profit=53, sales=135, target_profit=40, target_sales=110, total_expenses=39)
Row(id=UUID('b9e07534-014f-47f3-8b03-52f08e4d77cf'), cogs=75, date='11/4/2014', difference_profit=9, profit=59, sales=189, target_profit=50, target_sales=150, total_expenses=55)
Row(id=UUID('6b478ee7-22dc-4fbe-9ed8-a944cf1833dc'), cogs=23, date='2/3/2014', difference_profit=5, profit=25, sales=62, target_profit=20, target_sales=50, total_expenses=18)
Row(id=UUID('0f0127ff-185a-4885-9fa5-1a1927e5a3b8'), cogs=123, date='6/13/2014', difference_profit=87, profit=197, sales=322, target_profit=110, target_sales=230, total_expenses=46)
Row(id=UUID('ec79d37f-5805-42fc-b288-4be8369d4ed7'), cogs=34, date='12/15/2013', difference_profit=6, profit=-4, sales=76, target_profit=-10, target_sales=50, total_expenses=46)
Row(id=UUID('16f59a2d-996a-4489-8a4b-ec293371c156'), cogs=249, date='9/1/2014', difference_profit=120, profit=350, sales=664, target_profit=230, target_sales=560, total_expenses=138)
Row(id=UUID('7a638a5a-8f4f-4143-8696-706b7d6e6e38'), cogs=78, date='5/3/2014', difference_profit=22, profit=62, sales=197, target_profit=40, target_sales=150, total_expenses=57)
Row(id=UUID('3570cb35-a500-4ed3-b6f0-a4c36b787d4e'), cogs=102, date='11/5/2014', difference_profit=19, profit=89, sales=245, target_profit=70, target_sales=200, total_expenses=54)
Row(id=UUID('31fe7262-50ba-4468-bb9d-768b3b21bd6b'), cogs=50, date='3/13/2013', difference_profit=7, profit=47, sales=123, target_profit=40, target_sales=80, total_expenses=26)
Row(id=UUID('58564465-5c3b-4e06-a0b9-5846db0027fb'), cogs=65, date='4/14/2014', difference_profit=3, profit=33, sales=155, target_profit=30, target_sales=140, total_expenses=58)
Row(id=UUID('f37ca7ab-9644-4f7f-88c7-bcea41dfc070'), cogs=48, date='10/20/2013', difference_profit=8, profit=68, sales=126, target_profit=60, target_sales=120, total_expenses=24)
Row(id=UUID('b8083b0a-ee47-4501-b246-dd36ef3e53a0'), cogs=102, date='5/3/2015', difference_profit=19, profit=89, sales=245, target_profit=70, target_sales=170, total_expenses=54)
Row(id=UUID('28650af2-e97d-4566-b023-83eb8e9b8a13'), cogs=123, date='9/23/2014', difference_profit=47, profit=197, sales=322, target_profit=150, target_sales=310, total_expenses=46)
Row(id=UUID('aa12cfc8-e4fb-45f1-b1ff-e0ac499b7012'), cogs=67, date='8/3/2014', difference_profit=30, profit=390, sales=510, target_profit=360, target_sales=450, total_expenses=53)
Row(id=UUID('8a27c602-35f7-4c64-941d-e5f6944d2415'), cogs=0, date='7/28/2013', difference_profit=7, profit=47, sales=46, target_profit=40, target_sales=40, total_expenses=11)
Row(id=UUID('083d60e5-db11-4aee-8cd6-34e1765b6e54'), cogs=65, date='4/21/2013', difference_profit=2, profit=52, sales=151, target_profit=50, target_sales=80, total_expenses=42)
Row(id=UUID('eb50d335-1086-454e-8f92-ba4420a7eb91'), cogs=80, date='4/13/2013', difference_profit=31, profit=71, sales=185, target_profit=40, target_sales=90, total_expenses=46)
Row(id=UUID('dd5c3299-cf96-4087-9a32-ffe6cafcb89b'), cogs=249, date='7/21/2014', difference_profit=6, profit=236, sales=623, target_profit=230, target_sales=560, total_expenses=138)
Row(id=UUID('c5d1d52e-8c6d-4802-a561-29b5bba37cab'), cogs=53, date='4/7/2014', difference_profit=21, profit=71, sales=150, target_profit=50, target_sales=130, total_expenses=40)
Row(id=UUID('7949bd07-74ee-4fa2-866b-59ff7376ba8f'), cogs=94, date='9/2/2014', difference_profit=2, profit=22, sales=239, target_profit=20, target_sales=210, total_expenses=115)
Row(id=UUID('005c0d1f-8d81-4a40-9c44-8d9789ee4b51'), cogs=127, date='8/21/2015', difference_profit=61, profit=181, sales=332, target_profit=120, target_sales=290, total_expenses=63)
Row(id=UUID('4a9c1784-7db8-4744-b7cd-0fd83994a5a7'), cogs=40, date='4/25/2013', difference_profit=10, profit=40, sales=98, target_profit=30, target_sales=80, total_expenses=25)
Row(id=UUID('43691768-7be7-4437-a74a-a0879a4bb9d1'), cogs=15, date='6/9/2014', difference_profit=3, profit=13, sales=42, target_profit=10, target_sales=30, total_expenses=15)
Row(id=UUID('cd57583d-61ce-44e7-9572-f00f85ecb846'), cogs=153, date='9/18/2014', difference_profit=49, profit=129, sales=326, target_profit=80, target_sales=290, total_expenses=66)
Row(id=UUID('285b3318-a6f3-4188-8b25-797111be4e02'), cogs=43, date='4/3/2013', difference_profit=7, profit=27, sales=106, target_profit=20, target_sales=80, total_expenses=36)
Row(id=UUID('fb4fb080-02be-4cf6-9f2d-5b4d029ed6c2'), cogs=68, date='12/7/2012', difference_profit=7, profit=27, sales=153, target_profit=20, target_sales=110, total_expenses=58)
Row(id=UUID('afeecd18-26be-478b-b8bc-fb79988b6a5c'), cogs=43, date='1/29/2013', difference_profit=5, profit=45, sales=106, target_profit=40, target_sales=110, total_expenses=26)
Row(id=UUID('15397a40-ef94-4b49-b786-d76e9fd73c15'), cogs=82, date='8/15/2014', difference_profit=5, profit=95, sales=218, target_profit=90, target_sales=170, total_expenses=59)
Row(id=UUID('656f430c-64b9-4693-882d-58bc193ab5a4'), cogs=81, date='11/2/2014', difference_profit=4, profit=84, sales=198, target_profit=80, target_sales=180, total_expenses=33)
Row(id=UUID('ba617bc4-ab43-475e-8912-7a81c79dc34e'), cogs=108, date='6/7/2015', difference_profit=51, profit=171, sales=282, target_profit=120, target_sales=210, total_expenses=42)
Row(id=UUID('807e3321-cf2d-47de-a18c-17370b4120f8'), cogs=118, date='4/15/2015', difference_profit=18, profit=128, sales=290, target_profit=110, target_sales=210, total_expenses=44)
Row(id=UUID('8f9cc45c-25e1-4cc9-89c7-9ca798a547f8'), cogs=82, date='2/18/2014', difference_profit=5, profit=65, sales=205, target_profit=60, target_sales=130, total_expenses=58)
Row(id=UUID('54d08f7d-5e19-4301-bcf5-bdc13b44ab6d'), cogs=228, date='1/18/2015', difference_profit=1, profit=291, sales=567, target_profit=290, target_sales=680, total_expenses=108)
Row(id=UUID('641be302-a9aa-4ac7-b85f-66c70a5faa34'), cogs=118, date='11/1/2014', difference_profit=17, profit=127, sales=290, target_profit=110, target_sales=260, total_expenses=45)
Row(id=UUID('573e4023-50b5-4e45-9d07-9783e2e036e5'), cogs=127, date='5/25/2015', difference_profit=2, profit=122, sales=312, target_profit=120, target_sales=290, total_expenses=63)
Row(id=UUID('0248ade4-a233-4ae9-8bb2-e7dd177f5884'), cogs=260, date='8/17/2014', difference_profit=137, profit=367, sales=693, target_profit=230, target_sales=540, total_expenses=143)
Row(id=UUID('94d83cdd-10d2-4b07-81f8-c822cb822d9a'), cogs=239, date='7/1/2015', difference_profit=141, profit=221, sales=509, target_profit=80, target_sales=230, total_expenses=90)
Row(id=UUID('c1a81350-8c7d-4e9c-a025-195baa2e6b4d'), cogs=40, date='4/28/2013', difference_profit=10, profit=40, sales=98, target_profit=30, target_sales=80, total_expenses=25)
Row(id=UUID('c60783f5-035d-449c-83cb-f6a592a27a96'), cogs=78, date='11/3/2014', difference_profit=2, profit=62, sales=197, target_profit=60, target_sales=160, total_expenses=57)
Row(id=UUID('666d3f69-26f2-4fc5-9c75-adc80d2350c7'), cogs=54, date='8/1/2013', difference_profit=9, profit=19, sales=129, target_profit=10, target_sales=80, total_expenses=54)
Row(id=UUID('f78cd2b8-a03c-4d46-b14c-2f3d7162dd24'), cogs=80, date='11/23/2012', difference_profit=20, profit=50, sales=176, target_profit=30, target_sales=120, total_expenses=46)
Row(id=UUID('e4294ee3-39e4-4017-9695-1526c626ffe0'), cogs=46, date='1/8/2013', difference_profit=16, profit=46, sales=121, target_profit=30, target_sales=100, total_expenses=37)
Row(id=UUID('dbdaa6df-0178-4ac6-be9d-1fd75f670c21'), cogs=55, date='4/27/2013', difference_profit=2, profit=22, sales=132, target_profit=20, target_sales=90, total_expenses=54)
Row(id=UUID('b67d8a60-d7b9-46b4-a031-882609ff0e86'), cogs=29, date='2/7/2014', difference_profit=16, profit=36, sales=78, target_profit=20, target_sales=50, total_expenses=20)
Row(id=UUID('4592458a-13af-4cf1-af6f-cbed211de461'), cogs=22, date='9/6/2014', difference_profit=6, profit=16, sales=55, target_profit=10, target_sales=30, total_expenses=19)
Row(id=UUID('51b3aaf9-f7d1-42fa-9ae3-4e669c3fecc5'), cogs=115, date='8/18/2015', difference_profit=46, profit=156, sales=308, target_profit=110, target_sales=260, total_expenses=69)
Row(id=UUID('1e04a26b-1612-42a1-87dc-e76c2a9069b7'), cogs=123, date='11/28/2014', difference_profit=3, profit=133, sales=302, target_profit=130, target_sales=280, total_expenses=46)
Row(id=UUID('172e0f11-a2df-4be1-8b36-715052dd3d7e'), cogs=103, date='5/30/2014', difference_profit=19, profit=129, sales=251, target_profit=110, target_sales=210, total_expenses=46)
Row(id=UUID('5415845f-f5a5-498e-837f-e46ff6020953'), cogs=247, date='5/5/2015', difference_profit=6, profit=216, sales=576, target_profit=210, target_sales=550, total_expenses=113)
Row(id=UUID('9efe3594-46ab-4436-8e86-8d87fc35a083'), cogs=102, date='8/28/2014', difference_profit=42, profit=132, sales=261, target_profit=90, target_sales=220, total_expenses=54)
Row(id=UUID('41bf67b1-45db-4f07-92cc-b0a7b7fc973a'), cogs=88, date='5/28/2015', difference_profit=13, profit=73, sales=221, target_profit=60, target_sales=160, total_expenses=60)
Row(id=UUID('76a84a73-0d93-4c98-add4-a1b7ab9ffae7'), cogs=72, date='10/19/2013', difference_profit=32, profit=82, sales=194, target_profit=50, target_sales=110, total_expenses=55)
Row(id=UUID('e93f9a05-d9fa-4ed6-9384-2e6a1a3ff53e'), cogs=86, date='8/6/2015', difference_profit=52, profit=132, sales=224, target_profit=80, target_sales=190, total_expenses=35)
Row(id=UUID('30351bdd-23c1-4b45-9616-f2c2f18048c3'), cogs=72, date='10/19/2013', difference_profit=32, profit=82, sales=194, target_profit=50, target_sales=110, total_expenses=55)
Row(id=UUID('b3c97899-bee0-4ffd-8135-b8b8415015c7'), cogs=88, date='7/24/2015', difference_profit=34, profit=104, sales=213, target_profit=70, target_sales=180, total_expenses=42)
Row(id=UUID('b4f94898-e5aa-45dd-83a2-7da41a5389d6'), cogs=113, date='7/25/2015', difference_profit=59, profit=159, sales=296, target_profit=100, target_sales=250, total_expenses=58)
Row(id=UUID('1b38a217-c2a2-4b63-bd46-8e7c0e037770'), cogs=16, date='8/15/2015', difference_profit=5, profit=15, sales=44, target_profit=10, target_sales=30, total_expenses=15)
Row(id=UUID('cc890499-5202-440a-be3e-1aaf5c519443'), cogs=161, date='12/24/2014', difference_profit=27, profit=137, sales=343, target_profit=110, target_sales=260, total_expenses=69)
Row(id=UUID('d9fcb166-e35c-45a0-92ab-dd68751fc812'), cogs=60, date='10/21/2013', difference_profit=16, profit=86, sales=169, target_profit=70, target_sales=100, total_expenses=41)
Row(id=UUID('3e80964f-de55-45ed-a050-19b5c669b33a'), cogs=161, date='8/20/2014', difference_profit=17, profit=137, sales=343, target_profit=120, target_sales=300, total_expenses=69)
Row(id=UUID('3de3fc32-a2dc-4a90-b597-af61f05f23d9'), cogs=211, date='9/5/2014', difference_profit=175, profit=565, sales=719, target_profit=390, target_sales=660, total_expenses=83)
Row(id=UUID('b66ad3d5-34db-45dd-b8fe-09101ed19a8a'), cogs=36, date='1/12/2013', difference_profit=6, profit=46, sales=94, target_profit=40, target_sales=90, total_expenses=21)
Row(id=UUID('dc5faab3-4a2e-4a3e-8e4e-8633a80dc9c2'), cogs=134, date='5/30/2015', difference_profit=21, profit=121, sales=320, target_profit=100, target_sales=230, total_expenses=65)
Row(id=UUID('f71c3829-5c89-439f-b492-37cb014387cc'), cogs=88, date='6/15/2014', difference_profit=47, profit=107, sales=236, target_profit=60, target_sales=170, total_expenses=61)
Row(id=UUID('dba5a189-1609-435b-96ed-2bfca8a2b57e'), cogs=48, date='12/28/2012', difference_profit=7, profit=67, sales=126, target_profit=60, target_sales=90, total_expenses=25)
Row(id=UUID('04ad17b0-47ee-455b-a9ac-3b931ddd091a'), cogs=54, date='4/11/2014', difference_profit=17, profit=77, sales=142, target_profit=60, target_sales=130, total_expenses=27)
Row(id=UUID('4fc3e67e-4705-4001-b5ea-6170ca80ccff'), cogs=115, date='7/1/2014', difference_profit=46, profit=156, sales=308, target_profit=110, target_sales=260, total_expenses=69)
Row(id=UUID('09064801-14cb-4ef1-b9af-7db62ed404a9'), cogs=134, date='8/26/2015', difference_profit=80, profit=180, sales=341, target_profit=100, target_sales=230, total_expenses=65)
Row(id=UUID('cc5277b9-1b76-4483-a5be-2f28dea1ebed'), cogs=31, date='8/24/2013', difference_profit=9, profit=39, sales=82, target_profit=30, target_sales=70, total_expenses=20)
Row(id=UUID('f893ebfe-4ded-4ad8-abbe-fb92acab1955'), cogs=76, date='2/26/2013', difference_profit=29, profit=79, sales=187, target_profit=50, target_sales=80, total_expenses=32)
Row(id=UUID('83df296e-965b-456c-a353-3cbdcf998b5a'), cogs=63, date='11/13/2013', difference_profit=13, profit=53, sales=148, target_profit=40, target_sales=130, total_expenses=40)
Row(id=UUID('3a792ed2-0208-4dc0-af5b-126b34c86303'), cogs=130, date='4/25/2015', difference_profit=2, profit=122, sales=325, target_profit=120, target_sales=300, total_expenses=73)
Row(id=UUID('fe7e288c-95f8-4fbd-a9a9-b83d5044601b'), cogs=82, date='10/7/2014', difference_profit=5, profit=65, sales=205, target_profit=60, target_sales=140, total_expenses=58)
Row(id=UUID('88436a3b-f861-423d-ae80-c884acf47b69'), cogs=38, date='9/1/2013', difference_profit=8, profit=18, sales=95, target_profit=10, target_sales=60, total_expenses=39)
Row(id=UUID('6ed12716-48f0-4cba-85da-90bef11516b7'), cogs=101, date='6/8/2014', difference_profit=46, profit=126, sales=246, target_profit=80, target_sales=210, total_expenses=45)
Row(id=UUID('2d9b1764-16d9-48aa-8480-b1d39c992730'), cogs=75, date='1/24/2015', difference_profit=38, profit=88, sales=201, target_profit=50, target_sales=150, total_expenses=55)
Row(id=UUID('2c5d0a71-f473-4072-8929-a077903632cd'), cogs=224, date='11/23/2014', difference_profit=4, profit=194, sales=534, target_profit=190, target_sales=520, total_expenses=116)
Row(id=UUID('15c4acc9-930d-45ec-b017-1785c9680fb8'), cogs=54, date='11/20/2013', difference_profit=2, profit=42, sales=135, target_profit=40, target_sales=120, total_expenses=45)
Row(id=UUID('0007fc86-be75-47f3-963f-3ae3dc1eb578'), cogs=78, date='5/1/2015', difference_profit=12, profit=62, sales=197, target_profit=50, target_sales=140, total_expenses=57)
Row(id=UUID('0b814b80-e06d-48ce-a57e-ddadf1eb0a99'), cogs=75, date='5/1/2014', difference_profit=19, profit=59, sales=189, target_profit=40, target_sales=140, total_expenses=55)
Row(id=UUID('f27ddeae-a7d6-417e-b28b-6fa7176fcfe9'), cogs=21, date='6/30/2015', difference_profit=4, profit=24, sales=56, target_profit=20, target_sales=20, total_expenses=16)
Row(id=UUID('0b4b25cf-0216-4f74-85cd-0089b9d888ec'), cogs=81, date='4/13/2015', difference_profit=4, profit=84, sales=198, target_profit=80, target_sales=180, total_expenses=33)
Row(id=UUID('ac7f4bd8-1e6f-4d54-85c7-e9c35bb2fda7'), cogs=46, date='12/13/2013', difference_profit=1, profit=31, sales=113, target_profit=30, target_sales=50, total_expenses=36)
Row(id=UUID('6964a4ac-4b6d-4e22-8200-3db441751594'), cogs=123, date='5/12/2015', difference_profit=24, profit=134, sales=302, target_profit=110, target_sales=220, total_expenses=45)
Row(id=UUID('a1f983d6-3cec-4f1c-b6a7-3ffba39794bc'), cogs=88, date='6/15/2014', difference_profit=47, profit=107, sales=236, target_profit=60, target_sales=170, total_expenses=61)
Row(id=UUID('594f0d4d-e18b-4143-8ecc-1b0e2d34bb2d'), cogs=294, date='8/9/2014', difference_profit=99, profit=309, sales=747, target_profit=210, target_sales=540, total_expenses=144)
Row(id=UUID('0db116c0-e9e3-46f0-b427-fc1028ca6225'), cogs=79, date='3/1/2013', difference_profit=4, profit=34, sales=177, target_profit=30, target_sales=90, total_expenses=64)
Row(id=UUID('72b6cca7-b0b0-4620-a345-365205f29acd'), cogs=38, date='12/25/2013', difference_profit=12, profit=12, sales=89, target_profit=0, target_sales=60, total_expenses=39)
Row(id=UUID('577f5a50-ac53-4854-93fc-5054440f5cb6'), cogs=250, date='12/11/2014', difference_profit=36, profit=156, sales=501, target_profit=120, target_sales=410, total_expenses=95)
Row(id=UUID('55db10ba-dc94-4186-8707-5bc64032d240'), cogs=53, date='11/10/2012', difference_profit=19, profit=49, sales=141, target_profit=30, target_sales=100, total_expenses=39)
Row(id=UUID('85d91835-2513-4785-85ac-6dca9bbed306'), cogs=34, date='8/25/2013', difference_profit=15, profit=45, sales=91, target_profit=30, target_sales=70, total_expenses=21)
Row(id=UUID('e3f79df3-b2fc-4489-98e1-de967a14e089'), cogs=134, date='8/26/2015', difference_profit=80, profit=180, sales=341, target_profit=100, target_sales=230, total_expenses=65)
Row(id=UUID('cd12ac33-b3c4-44fd-9cb9-57f6a451ca61'), cogs=91, date='10/22/2012', difference_profit=26, profit=76, sales=218, target_profit=50, target_sales=100, total_expenses=51)
Row(id=UUID('26b2dee0-4ad2-4db3-b9e5-f857b8c9b2c8'), cogs=54, date='8/1/2013', difference_profit=9, profit=19, sales=129, target_profit=10, target_sales=80, total_expenses=54)
Row(id=UUID('7ca044a2-f274-474d-ad0d-dd08892b0dfe'), cogs=92, date='2/19/2013', difference_profit=5, profit=25, sales=171, target_profit=20, target_sales=140, total_expenses=51)
Row(id=UUID('99d004ca-1788-40ab-a280-de307da07e8a'), cogs=121, date='7/21/2015', difference_profit=19, profit=39, sales=308, target_profit=20, target_sales=260, total_expenses=142)

In [ ]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["database1"]

In [4]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["database1"]

mycol = mydb["customers"]

In [5]:
print(mydb.list_collection_names())

[]

In [46]:
for doc in collection.find().limit(5):
    print(doc)

{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143e'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143f'), 'Area Code': 409, 'Market_size': 'Major Market', 'Market': 'South', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Texas', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f4231440'), 'Area Code': 850, 'Market_size': 'Major Market', 'Market': 'East', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Darjeeling', 'State': 'Florida', 'Type': 'Regular'}
{'_id': ObjectId('682dd017f174d523f4231441'), 'Area Code': 562, 'Market_size': 'Major Market', 'Market': 'West', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Green Tea', 'State': 'California', 'Type': 'Regular'}

In [ ]:
pipeline = [
    {
        '$match': {
            'Product': 'Lemon',
            'Product_type': 'Herbal Tea',
            'State': 'Colorado'
        }
    },
    {
        '$group': {
            '_id': None,
            'totalSales': {'$sum': '$Sales'}
        }
    }
]

result = list(collection.aggregate(pipeline))
if result:
    print(f"Total penjualan Lemon Herbal Tea di Colorado: {result[0]['totalSales']}")
else:
    print("Data tidak ditemukan atau Sales kosong")

{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423146c'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423147d'), 'Area Code': 720, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}

In [56]:
from cassandra.cluster import Cluster

cluster = Cluster(['127.0.0.1'])
session = cluster.connect('cafe_analytics')  # connect langsung ke keyspace yang benar

query = """
SELECT * FROM coffee_data LIMIT 5
"""

rows = session.execute(query)
for row in rows:
    print(row)

Row(id=UUID('9c91cdbf-8c15-4110-990e-26ae5ec1927a'), cogs=34, date='5/21/2013', difference_profit=5, profit=45, sales=91, target_profit=40, target_sales=80, total_expenses=21)
Row(id=UUID('aa32aea1-5a88-4096-8dbb-bdde7800d34a'), cogs=86, date='11/18/2014', difference_profit=-2, profit=88, sales=210, target_profit=90, target_sales=200, total_expenses=36)
Row(id=UUID('2b30edac-ba8e-4172-a611-e91693e503f9'), cogs=279, date='8/4/2014', difference_profit=21, profit=271, sales=699, target_profit=250, target_sales=620, total_expenses=149)
Row(id=UUID('f71e3476-b1b2-40cb-8257-30404db66b41'), cogs=41, date='7/15/2013', difference_profit=10, profit=30, sales=107, target_profit=20, target_sales=70, total_expenses=36)
Row(id=UUID('72aa731f-e447-47ee-baca-944392124486'), cogs=61, date='11/4/2013', difference_profit=-9, profit=1, sales=157, target_profit=10, target_sales=110, total_expenses=85)

In [61]:
query = "SELECT sales, profit FROM coffee_data"
rows = session.execute(query)

total_sales = 0
total_profit = 0
for row in rows:
    total_sales += row.sales
    total_profit += row.profit

print(f"Total sales: {total_sales}")
print(f"Total profit: {total_profit}")

Total sales: 202895
Total profit: 64311

In [62]:
query = "SELECT sales, profit, date FROM coffee_data"
rows = session.execute(query)

total_sales_2013 = 0
total_profit_2013 = 0
for row in rows:
    if '2013' in row.date:
        total_sales_2013 += row.sales
        total_profit_2013 += row.profit

print(f"Total sales 2013: {total_sales_2013}")
print(f"Total profit 2013: {total_profit_2013}")

Total sales 2013: 38898
Total profit 2013: 9484

In [63]:
query = "SELECT profit FROM coffee_data"
rows = session.execute(query)

total_profit = 0
count = 0
for row in rows:
    total_profit += row.profit
    count += 1

average_profit = total_profit / count if count > 0 else 0
print(f"Average profit per transaction: {average_profit:.2f}")

Average profit per transaction: 60.56

In [64]:
query = "SELECT difference_profit FROM coffee_data"
rows = session.execute(query)

total_difference = 0
for row in rows:
    total_difference += row.difference_profit

print(f"Total difference profit: {total_difference}")

Total difference profit: 411

In [ ]:
query = "SELECT sales, date FROM coffee_data"
rows = session.execute(query)

sales_per_year = {}

for row in rows:
    year = row.date.split('/')[-1]
    sales_per_year[year] = sales_per_year.get(year, 0) + row.sales

for year, total_sales in sales_per_year.items():
    print(f"Year {year}: Total Sales = {total_sales}")

Year 2013: Total Sales = 38898
Year 2014: Total Sales = 84982
Year 2015: Total Sales = 68154
Year 2012: Total Sales = 10861

In [66]:
query = "SELECT sales, profit, date FROM coffee_data"
rows = session.execute(query)

sales_profit_per_month = {}

for row in rows:
    month_year = '/'.join(row.date.split('/')[-2:])  # ambil mm/yyyy
    if month_year.endswith('2014'):
        if month_year not in sales_profit_per_month:
            sales_profit_per_month[month_year] = {'sales': 0, 'profit': 0}
        sales_profit_per_month[month_year]['sales'] += row.sales
        sales_profit_per_month[month_year]['profit'] += row.profit

for month_year, vals in sales_profit_per_month.items():
    print(f"{month_year}: Sales = {vals['sales']}, Profit = {vals['profit']}")

18/2014: Sales = 2296, Profit = 645
4/2014: Sales = 2877, Profit = 1028
24/2014: Sales = 2595, Profit = 652
2/2014: Sales = 2889, Profit = 957
1/2014: Sales = 2808, Profit = 1123
23/2014: Sales = 3461, Profit = 1098
12/2014: Sales = 3276, Profit = 1097
10/2014: Sales = 2915, Profit = 994
26/2014: Sales = 2293, Profit = 957
3/2014: Sales = 2100, Profit = 595
22/2014: Sales = 2165, Profit = 892
28/2014: Sales = 2263, Profit = 660
21/2014: Sales = 3562, Profit = 1287
7/2014: Sales = 2260, Profit = 791
5/2014: Sales = 3015, Profit = 1493
15/2014: Sales = 2921, Profit = 1155
9/2014: Sales = 2771, Profit = 962
17/2014: Sales = 3033, Profit = 860
11/2014: Sales = 2446, Profit = 829
20/2014: Sales = 4131, Profit = 1881
16/2014: Sales = 2957, Profit = 1308
19/2014: Sales = 2815, Profit = 927
6/2014: Sales = 2391, Profit = 535
13/2014: Sales = 2013, Profit = 445
8/2014: Sales = 2326, Profit = 383
31/2014: Sales = 1773, Profit = 894
14/2014: Sales = 2729, Profit = 1436
29/2014: Sales = 2381, Profit = 817
25/2014: Sales = 3512, Profit = 1496
27/2014: Sales = 3198, Profit = 1114
30/2014: Sales = 2810, Profit = 1069

## 2 DATABASE

In [ ]:
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')
db = client['cafe_db'] 
collection = db['products']

docs = df_mongo.to_dict('records')
collection.insert_many(docs)

InsertManyResult([ObjectId('682ddb4ff174d523f4231923'), ObjectId('682ddb4ff174d523f4231924'), ObjectId('682ddb4ff174d523f4231925'), ObjectId('682ddb4ff174d523f4231926'), ObjectId('682ddb4ff174d523f4231927'), ObjectId('682ddb4ff174d523f4231928'), ObjectId('682ddb4ff174d523f4231929'), ObjectId('682ddb4ff174d523f423192a'), ObjectId('682ddb4ff174d523f423192b'), ObjectId('682ddb4ff174d523f423192c'), ObjectId('682ddb4ff174d523f423192d'), ObjectId('682ddb4ff174d523f423192e'), ObjectId('682ddb4ff174d523f423192f'), ObjectId('682ddb4ff174d523f4231930'), ObjectId('682ddb4ff174d523f4231931'), ObjectId('682ddb4ff174d523f4231932'), ObjectId('682ddb4ff174d523f4231933'), ObjectId('682ddb4ff174d523f4231934'), ObjectId('682ddb4ff174d523f4231935'), ObjectId('682ddb4ff174d523f4231936'), ObjectId('682ddb4ff174d523f4231937'), ObjectId('682ddb4ff174d523f4231938'), ObjectId('682ddb4ff174d523f4231939'), ObjectId('682ddb4ff174d523f423193a'), ObjectId('682ddb4ff174d523f423193b'), ObjectId('682ddb4ff174d523f423193c'), ObjectId('682ddb4ff174d523f423193d'), ObjectId('682ddb4ff174d523f423193e'), ObjectId('682ddb4ff174d523f423193f'), ObjectId('682ddb4ff174d523f4231940'), ObjectId('682ddb4ff174d523f4231941'), ObjectId('682ddb4ff174d523f4231942'), ObjectId('682ddb4ff174d523f4231943'), ObjectId('682ddb4ff174d523f4231944'), ObjectId('682ddb4ff174d523f4231945'), ObjectId('682ddb4ff174d523f4231946'), ObjectId('682ddb4ff174d523f4231947'), ObjectId('682ddb4ff174d523f4231948'), ObjectId('682ddb4ff174d523f4231949'), ObjectId('682ddb4ff174d523f423194a'), ObjectId('682ddb4ff174d523f423194b'), ObjectId('682ddb4ff174d523f423194c'), ObjectId('682ddb4ff174d523f423194d'), ObjectId('682ddb4ff174d523f423194e'), ObjectId('682ddb4ff174d523f423194f'), ObjectId('682ddb4ff174d523f4231950'), ObjectId('682ddb4ff174d523f4231951'), ObjectId('682ddb4ff174d523f4231952'), ObjectId('682ddb4ff174d523f4231953'), ObjectId('682ddb4ff174d523f4231954'), ObjectId('682ddb4ff174d523f4231955'), ObjectId('682ddb4ff174d523f4231956'), ObjectId('682ddb4ff174d523f4231957'), ObjectId('682ddb4ff174d523f4231958'), ObjectId('682ddb4ff174d523f4231959'), ObjectId('682ddb4ff174d523f423195a'), ObjectId('682ddb4ff174d523f423195b'), ObjectId('682ddb4ff174d523f423195c'), ObjectId('682ddb4ff174d523f423195d'), ObjectId('682ddb4ff174d523f423195e'), ObjectId('682ddb4ff174d523f423195f'), ObjectId('682ddb4ff174d523f4231960'), ObjectId('682ddb4ff174d523f4231961'), ObjectId('682ddb4ff174d523f4231962'), ObjectId('682ddb4ff174d523f4231963'), ObjectId('682ddb4ff174d523f4231964'), ObjectId('682ddb4ff174d523f4231965'), ObjectId('682ddb4ff174d523f4231966'), ObjectId('682ddb4ff174d523f4231967'), ObjectId('682ddb4ff174d523f4231968'), ObjectId('682ddb4ff174d523f4231969'), ObjectId('682ddb4ff174d523f423196a'), ObjectId('682ddb4ff174d523f423196b'), ObjectId('682ddb4ff174d523f423196c'), ObjectId('682ddb4ff174d523f423196d'), ObjectId('682ddb4ff174d523f423196e'), ObjectId('682ddb4ff174d523f423196f'), ObjectId('682ddb4ff174d523f4231970'), ObjectId('682ddb4ff174d523f4231971'), ObjectId('682ddb4ff174d523f4231972'), ObjectId('682ddb4ff174d523f4231973'), ObjectId('682ddb4ff174d523f4231974'), ObjectId('682ddb4ff174d523f4231975'), ObjectId('682ddb4ff174d523f4231976'), ObjectId('682ddb4ff174d523f4231977'), ObjectId('682ddb4ff174d523f4231978'), ObjectId('682ddb4ff174d523f4231979'), ObjectId('682ddb4ff174d523f423197a'), ObjectId('682ddb4ff174d523f423197b'), ObjectId('682ddb4ff174d523f423197c'), ObjectId('682ddb4ff174d523f423197d'), ObjectId('682ddb4ff174d523f423197e'), ObjectId('682ddb4ff174d523f423197f'), ObjectId('682ddb4ff174d523f4231980'), ObjectId('682ddb4ff174d523f4231981'), ObjectId('682ddb4ff174d523f4231982'), ObjectId('682ddb4ff174d523f4231983'), ObjectId('682ddb4ff174d523f4231984'), ObjectId('682ddb4ff174d523f4231985'), ObjectId('682ddb4ff174d523f4231986'), ObjectId('682ddb4ff174d523f4231987'), ObjectId('682ddb4ff174d523f4231988'), ObjectId('682ddb4ff174d523f4231989'), ObjectId('682ddb4ff174d523f423198a'), ObjectId('682ddb4ff174d523f423198b'), ObjectId('682ddb4ff174d523f423198c'), ObjectId('682ddb4ff174d523f423198d'), ObjectId('682ddb4ff174d523f423198e'), ObjectId('682ddb4ff174d523f423198f'), ObjectId('682ddb4ff174d523f4231990'), ObjectId('682ddb4ff174d523f4231991'), ObjectId('682ddb4ff174d523f4231992'), ObjectId('682ddb4ff174d523f4231993'), ObjectId('682ddb4ff174d523f4231994'), ObjectId('682ddb4ff174d523f4231995'), ObjectId('682ddb4ff174d523f4231996'), ObjectId('682ddb4ff174d523f4231997'), ObjectId('682ddb4ff174d523f4231998'), ObjectId('682ddb4ff174d523f4231999'), ObjectId('682ddb4ff174d523f423199a'), ObjectId('682ddb4ff174d523f423199b'), ObjectId('682ddb4ff174d523f423199c'), ObjectId('682ddb4ff174d523f423199d'), ObjectId('682ddb4ff174d523f423199e'), ObjectId('682ddb4ff174d523f423199f'), ObjectId('682ddb4ff174d523f42319a0'), ObjectId('682ddb4ff174d523f42319a1'), ObjectId('682ddb4ff174d523f42319a2'), ObjectId('682ddb4ff174d523f42319a3'), ObjectId('682ddb4ff174d523f42319a4'), ObjectId('682ddb4ff174d523f42319a5'), ObjectId('682ddb4ff174d523f42319a6'), ObjectId('682ddb4ff174d523f42319a7'), ObjectId('682ddb4ff174d523f42319a8'), ObjectId('682ddb4ff174d523f42319a9'), ObjectId('682ddb4ff174d523f42319aa'), ObjectId('682ddb4ff174d523f42319ab'), ObjectId('682ddb4ff174d523f42319ac'), ObjectId('682ddb4ff174d523f42319ad'), ObjectId('682ddb4ff174d523f42319ae'), ObjectId('682ddb4ff174d523f42319af'), ObjectId('682ddb4ff174d523f42319b0'), ObjectId('682ddb4ff174d523f42319b1'), ObjectId('682ddb4ff174d523f42319b2'), ObjectId('682ddb4ff174d523f42319b3'), ObjectId('682ddb4ff174d523f42319b4'), ObjectId('682ddb4ff174d523f42319b5'), ObjectId('682ddb4ff174d523f42319b6'), ObjectId('682ddb4ff174d523f42319b7'), ObjectId('682ddb4ff174d523f42319b8'), ObjectId('682ddb4ff174d523f42319b9'), ObjectId('682ddb4ff174d523f42319ba'), ObjectId('682ddb4ff174d523f42319bb'), ObjectId('682ddb4ff174d523f42319bc'), ObjectId('682ddb4ff174d523f42319bd'), ObjectId('682ddb4ff174d523f42319be'), ObjectId('682ddb4ff174d523f42319bf'), ObjectId('682ddb4ff174d523f42319c0'), ObjectId('682ddb4ff174d523f42319c1'), ObjectId('682ddb4ff174d523f42319c2'), ObjectId('682ddb4ff174d523f42319c3'), ObjectId('682ddb4ff174d523f42319c4'), ObjectId('682ddb4ff174d523f42319c5'), ObjectId('682ddb4ff174d523f42319c6'), ObjectId('682ddb4ff174d523f42319c7'), ObjectId('682ddb4ff174d523f42319c8'), ObjectId('682ddb4ff174d523f42319c9'), ObjectId('682ddb4ff174d523f42319ca'), ObjectId('682ddb4ff174d523f42319cb'), ObjectId('682ddb4ff174d523f42319cc'), ObjectId('682ddb4ff174d523f42319cd'), ObjectId('682ddb4ff174d523f42319ce'), ObjectId('682ddb4ff174d523f42319cf'), ObjectId('682ddb4ff174d523f42319d0'), ObjectId('682ddb4ff174d523f42319d1'), ObjectId('682ddb4ff174d523f42319d2'), ObjectId('682ddb4ff174d523f42319d3'), ObjectId('682ddb4ff174d523f42319d4'), ObjectId('682ddb4ff174d523f42319d5'), ObjectId('682ddb4ff174d523f42319d6'), ObjectId('682ddb4ff174d523f42319d7'), ObjectId('682ddb4ff174d523f42319d8'), ObjectId('682ddb4ff174d523f42319d9'), ObjectId('682ddb4ff174d523f42319da'), ObjectId('682ddb4ff174d523f42319db'), ObjectId('682ddb4ff174d523f42319dc'), ObjectId('682ddb4ff174d523f42319dd'), ObjectId('682ddb4ff174d523f42319de'), ObjectId('682ddb4ff174d523f42319df'), ObjectId('682ddb4ff174d523f42319e0'), ObjectId('682ddb4ff174d523f42319e1'), ObjectId('682ddb4ff174d523f42319e2'), ObjectId('682ddb4ff174d523f42319e3'), ObjectId('682ddb4ff174d523f42319e4'), ObjectId('682ddb4ff174d523f42319e5'), ObjectId('682ddb4ff174d523f42319e6'), ObjectId('682ddb4ff174d523f42319e7'), ObjectId('682ddb4ff174d523f42319e8'), ObjectId('682ddb4ff174d523f42319e9'), ObjectId('682ddb4ff174d523f42319ea'), ObjectId('682ddb4ff174d523f42319eb'), ObjectId('682ddb4ff174d523f42319ec'), ObjectId('682ddb4ff174d523f42319ed'), ObjectId('682ddb4ff174d523f42319ee'), ObjectId('682ddb4ff174d523f42319ef'), ObjectId('682ddb4ff174d523f42319f0'), ObjectId('682ddb4ff174d523f42319f1'), ObjectId('682ddb4ff174d523f42319f2'), ObjectId('682ddb4ff174d523f42319f3'), ObjectId('682ddb4ff174d523f42319f4'), ObjectId('682ddb4ff174d523f42319f5'), ObjectId('682ddb4ff174d523f42319f6'), ObjectId('682ddb4ff174d523f42319f7'), ObjectId('682ddb4ff174d523f42319f8'), ObjectId('682ddb4ff174d523f42319f9'), ObjectId('682ddb4ff174d523f42319fa'), ObjectId('682ddb4ff174d523f42319fb'), ObjectId('682ddb4ff174d523f42319fc'), ObjectId('682ddb4ff174d523f42319fd'), ObjectId('682ddb4ff174d523f42319fe'), ObjectId('682ddb4ff174d523f42319ff'), ObjectId('682ddb4ff174d523f4231a00'), ObjectId('682ddb4ff174d523f4231a01'), ObjectId('682ddb4ff174d523f4231a02'), ObjectId('682ddb4ff174d523f4231a03'), ObjectId('682ddb4ff174d523f4231a04'), ObjectId('682ddb4ff174d523f4231a05'), ObjectId('682ddb4ff174d523f4231a06'), ObjectId('682ddb4ff174d523f4231a07'), ObjectId('682ddb4ff174d523f4231a08'), ObjectId('682ddb4ff174d523f4231a09'), ObjectId('682ddb4ff174d523f4231a0a'), ObjectId('682ddb4ff174d523f4231a0b'), ObjectId('682ddb4ff174d523f4231a0c'), ObjectId('682ddb4ff174d523f4231a0d'), ObjectId('682ddb4ff174d523f4231a0e'), ObjectId('682ddb4ff174d523f4231a0f'), ObjectId('682ddb4ff174d523f4231a10'), ObjectId('682ddb4ff174d523f4231a11'), ObjectId('682ddb4ff174d523f4231a12'), ObjectId('682ddb4ff174d523f4231a13'), ObjectId('682ddb4ff174d523f4231a14'), ObjectId('682ddb4ff174d523f4231a15'), ObjectId('682ddb4ff174d523f4231a16'), ObjectId('682ddb4ff174d523f4231a17'), ObjectId('682ddb4ff174d523f4231a18'), ObjectId('682ddb4ff174d523f4231a19'), ObjectId('682ddb4ff174d523f4231a1a'), ObjectId('682ddb4ff174d523f4231a1b'), ObjectId('682ddb4ff174d523f4231a1c'), ObjectId('682ddb4ff174d523f4231a1d'), ObjectId('682ddb4ff174d523f4231a1e'), ObjectId('682ddb4ff174d523f4231a1f'), ObjectId('682ddb4ff174d523f4231a20'), ObjectId('682ddb4ff174d523f4231a21'), ObjectId('682ddb4ff174d523f4231a22'), ObjectId('682ddb4ff174d523f4231a23'), ObjectId('682ddb4ff174d523f4231a24'), ObjectId('682ddb4ff174d523f4231a25'), ObjectId('682ddb4ff174d523f4231a26'), ObjectId('682ddb4ff174d523f4231a27'), ObjectId('682ddb4ff174d523f4231a28'), ObjectId('682ddb4ff174d523f4231a29'), ObjectId('682ddb4ff174d523f4231a2a'), ObjectId('682ddb4ff174d523f4231a2b'), ObjectId('682ddb4ff174d523f4231a2c'), ObjectId('682ddb4ff174d523f4231a2d'), ObjectId('682ddb4ff174d523f4231a2e'), ObjectId('682ddb4ff174d523f4231a2f'), ObjectId('682ddb4ff174d523f4231a30'), ObjectId('682ddb4ff174d523f4231a31'), ObjectId('682ddb4ff174d523f4231a32'), ObjectId('682ddb4ff174d523f4231a33'), ObjectId('682ddb4ff174d523f4231a34'), ObjectId('682ddb4ff174d523f4231a35'), ObjectId('682ddb4ff174d523f4231a36'), ObjectId('682ddb4ff174d523f4231a37'), ObjectId('682ddb4ff174d523f4231a38'), ObjectId('682ddb4ff174d523f4231a39'), ObjectId('682ddb4ff174d523f4231a3a'), ObjectId('682ddb4ff174d523f4231a3b'), ObjectId('682ddb4ff174d523f4231a3c'), ObjectId('682ddb4ff174d523f4231a3d'), ObjectId('682ddb4ff174d523f4231a3e'), ObjectId('682ddb4ff174d523f4231a3f'), ObjectId('682ddb4ff174d523f4231a40'), ObjectId('682ddb4ff174d523f4231a41'), ObjectId('682ddb4ff174d523f4231a42'), ObjectId('682ddb4ff174d523f4231a43'), ObjectId('682ddb4ff174d523f4231a44'), ObjectId('682ddb4ff174d523f4231a45'), ObjectId('682ddb4ff174d523f4231a46'), ObjectId('682ddb4ff174d523f4231a47'), ObjectId('682ddb4ff174d523f4231a48'), ObjectId('682ddb4ff174d523f4231a49'), ObjectId('682ddb4ff174d523f4231a4a'), ObjectId('682ddb4ff174d523f4231a4b'), ObjectId('682ddb4ff174d523f4231a4c'), ObjectId('682ddb4ff174d523f4231a4d'), ObjectId('682ddb4ff174d523f4231a4e'), ObjectId('682ddb4ff174d523f4231a4f'), ObjectId('682ddb4ff174d523f4231a50'), ObjectId('682ddb4ff174d523f4231a51'), ObjectId('682ddb4ff174d523f4231a52'), ObjectId('682ddb4ff174d523f4231a53'), ObjectId('682ddb4ff174d523f4231a54'), ObjectId('682ddb4ff174d523f4231a55'), ObjectId('682ddb4ff174d523f4231a56'), ObjectId('682ddb4ff174d523f4231a57'), ObjectId('682ddb4ff174d523f4231a58'), ObjectId('682ddb4ff174d523f4231a59'), ObjectId('682ddb4ff174d523f4231a5a'), ObjectId('682ddb4ff174d523f4231a5b'), ObjectId('682ddb4ff174d523f4231a5c'), ObjectId('682ddb4ff174d523f4231a5d'), ObjectId('682ddb4ff174d523f4231a5e'), ObjectId('682ddb4ff174d523f4231a5f'), ObjectId('682ddb4ff174d523f4231a60'), ObjectId('682ddb4ff174d523f4231a61'), ObjectId('682ddb4ff174d523f4231a62'), ObjectId('682ddb4ff174d523f4231a63'), ObjectId('682ddb4ff174d523f4231a64'), ObjectId('682ddb4ff174d523f4231a65'), ObjectId('682ddb4ff174d523f4231a66'), ObjectId('682ddb4ff174d523f4231a67'), ObjectId('682ddb4ff174d523f4231a68'), ObjectId('682ddb4ff174d523f4231a69'), ObjectId('682ddb4ff174d523f4231a6a'), ObjectId('682ddb4ff174d523f4231a6b'), ObjectId('682ddb4ff174d523f4231a6c'), ObjectId('682ddb4ff174d523f4231a6d'), ObjectId('682ddb4ff174d523f4231a6e'), ObjectId('682ddb4ff174d523f4231a6f'), ObjectId('682ddb4ff174d523f4231a70'), ObjectId('682ddb4ff174d523f4231a71'), ObjectId('682ddb4ff174d523f4231a72'), ObjectId('682ddb4ff174d523f4231a73'), ObjectId('682ddb4ff174d523f4231a74'), ObjectId('682ddb4ff174d523f4231a75'), ObjectId('682ddb4ff174d523f4231a76'), ObjectId('682ddb4ff174d523f4231a77'), ObjectId('682ddb4ff174d523f4231a78'), ObjectId('682ddb4ff174d523f4231a79'), ObjectId('682ddb4ff174d523f4231a7a'), ObjectId('682ddb4ff174d523f4231a7b'), ObjectId('682ddb4ff174d523f4231a7c'), ObjectId('682ddb4ff174d523f4231a7d'), ObjectId('682ddb4ff174d523f4231a7e'), ObjectId('682ddb4ff174d523f4231a7f'), ObjectId('682ddb4ff174d523f4231a80'), ObjectId('682ddb4ff174d523f4231a81'), ObjectId('682ddb4ff174d523f4231a82'), ObjectId('682ddb4ff174d523f4231a83'), ObjectId('682ddb4ff174d523f4231a84'), ObjectId('682ddb4ff174d523f4231a85'), ObjectId('682ddb4ff174d523f4231a86'), ObjectId('682ddb4ff174d523f4231a87'), ObjectId('682ddb4ff174d523f4231a88'), ObjectId('682ddb4ff174d523f4231a89'), ObjectId('682ddb4ff174d523f4231a8a'), ObjectId('682ddb4ff174d523f4231a8b'), ObjectId('682ddb4ff174d523f4231a8c'), ObjectId('682ddb4ff174d523f4231a8d'), ObjectId('682ddb4ff174d523f4231a8e'), ObjectId('682ddb4ff174d523f4231a8f'), ObjectId('682ddb4ff174d523f4231a90'), ObjectId('682ddb4ff174d523f4231a91'), ObjectId('682ddb4ff174d523f4231a92'), ObjectId('682ddb4ff174d523f4231a93'), ObjectId('682ddb4ff174d523f4231a94'), ObjectId('682ddb4ff174d523f4231a95'), ObjectId('682ddb4ff174d523f4231a96'), ObjectId('682ddb4ff174d523f4231a97'), ObjectId('682ddb4ff174d523f4231a98'), ObjectId('682ddb4ff174d523f4231a99'), ObjectId('682ddb4ff174d523f4231a9a'), ObjectId('682ddb4ff174d523f4231a9b'), ObjectId('682ddb4ff174d523f4231a9c'), ObjectId('682ddb4ff174d523f4231a9d'), ObjectId('682ddb4ff174d523f4231a9e'), ObjectId('682ddb4ff174d523f4231a9f'), ObjectId('682ddb4ff174d523f4231aa0'), ObjectId('682ddb4ff174d523f4231aa1'), ObjectId('682ddb4ff174d523f4231aa2'), ObjectId('682ddb4ff174d523f4231aa3'), ObjectId('682ddb4ff174d523f4231aa4'), ObjectId('682ddb4ff174d523f4231aa5'), ObjectId('682ddb4ff174d523f4231aa6'), ObjectId('682ddb4ff174d523f4231aa7'), ObjectId('682ddb4ff174d523f4231aa8'), ObjectId('682ddb4ff174d523f4231aa9'), ObjectId('682ddb4ff174d523f4231aaa'), ObjectId('682ddb4ff174d523f4231aab'), ObjectId('682ddb4ff174d523f4231aac'), ObjectId('682ddb4ff174d523f4231aad'), ObjectId('682ddb4ff174d523f4231aae'), ObjectId('682ddb4ff174d523f4231aaf'), ObjectId('682ddb4ff174d523f4231ab0'), ObjectId('682ddb4ff174d523f4231ab1'), ObjectId('682ddb4ff174d523f4231ab2'), ObjectId('682ddb4ff174d523f4231ab3'), ObjectId('682ddb4ff174d523f4231ab4'), ObjectId('682ddb4ff174d523f4231ab5'), ObjectId('682ddb4ff174d523f4231ab6'), ObjectId('682ddb4ff174d523f4231ab7'), ObjectId('682ddb4ff174d523f4231ab8'), ObjectId('682ddb4ff174d523f4231ab9'), ObjectId('682ddb4ff174d523f4231aba'), ObjectId('682ddb4ff174d523f4231abb'), ObjectId('682ddb4ff174d523f4231abc'), ObjectId('682ddb4ff174d523f4231abd'), ObjectId('682ddb4ff174d523f4231abe'), ObjectId('682ddb4ff174d523f4231abf'), ObjectId('682ddb4ff174d523f4231ac0'), ObjectId('682ddb4ff174d523f4231ac1'), ObjectId('682ddb4ff174d523f4231ac2'), ObjectId('682ddb4ff174d523f4231ac3'), ObjectId('682ddb4ff174d523f4231ac4'), ObjectId('682ddb4ff174d523f4231ac5'), ObjectId('682ddb4ff174d523f4231ac6'), ObjectId('682ddb4ff174d523f4231ac7'), ObjectId('682ddb4ff174d523f4231ac8'), ObjectId('682ddb4ff174d523f4231ac9'), ObjectId('682ddb4ff174d523f4231aca'), ObjectId('682ddb4ff174d523f4231acb'), ObjectId('682ddb4ff174d523f4231acc'), ObjectId('682ddb4ff174d523f4231acd'), ObjectId('682ddb4ff174d523f4231ace'), ObjectId('682ddb4ff174d523f4231acf'), ObjectId('682ddb4ff174d523f4231ad0'), ObjectId('682ddb4ff174d523f4231ad1'), ObjectId('682ddb4ff174d523f4231ad2'), ObjectId('682ddb4ff174d523f4231ad3'), ObjectId('682ddb4ff174d523f4231ad4'), ObjectId('682ddb4ff174d523f4231ad5'), ObjectId('682ddb4ff174d523f4231ad6'), ObjectId('682ddb4ff174d523f4231ad7'), ObjectId('682ddb4ff174d523f4231ad8'), ObjectId('682ddb4ff174d523f4231ad9'), ObjectId('682ddb4ff174d523f4231ada'), ObjectId('682ddb4ff174d523f4231adb'), ObjectId('682ddb4ff174d523f4231adc'), ObjectId('682ddb4ff174d523f4231add'), ObjectId('682ddb4ff174d523f4231ade'), ObjectId('682ddb4ff174d523f4231adf'), ObjectId('682ddb4ff174d523f4231ae0'), ObjectId('682ddb4ff174d523f4231ae1'), ObjectId('682ddb4ff174d523f4231ae2'), ObjectId('682ddb4ff174d523f4231ae3'), ObjectId('682ddb4ff174d523f4231ae4'), ObjectId('682ddb4ff174d523f4231ae5'), ObjectId('682ddb4ff174d523f4231ae6'), ObjectId('682ddb4ff174d523f4231ae7'), ObjectId('682ddb4ff174d523f4231ae8'), ObjectId('682ddb4ff174d523f4231ae9'), ObjectId('682ddb4ff174d523f4231aea'), ObjectId('682ddb4ff174d523f4231aeb'), ObjectId('682ddb4ff174d523f4231aec'), ObjectId('682ddb4ff174d523f4231aed'), ObjectId('682ddb4ff174d523f4231aee'), ObjectId('682ddb4ff174d523f4231aef'), ObjectId('682ddb4ff174d523f4231af0'), ObjectId('682ddb4ff174d523f4231af1'), ObjectId('682ddb4ff174d523f4231af2'), ObjectId('682ddb4ff174d523f4231af3'), ObjectId('682ddb4ff174d523f4231af4'), ObjectId('682ddb4ff174d523f4231af5'), ObjectId('682ddb4ff174d523f4231af6'), ObjectId('682ddb4ff174d523f4231af7'), ObjectId('682ddb4ff174d523f4231af8'), ObjectId('682ddb4ff174d523f4231af9'), ObjectId('682ddb4ff174d523f4231afa'), ObjectId('682ddb4ff174d523f4231afb'), ObjectId('682ddb4ff174d523f4231afc'), ObjectId('682ddb4ff174d523f4231afd'), ObjectId('682ddb4ff174d523f4231afe'), ObjectId('682ddb4ff174d523f4231aff'), ObjectId('682ddb4ff174d523f4231b00'), ObjectId('682ddb4ff174d523f4231b01'), ObjectId('682ddb4ff174d523f4231b02'), ObjectId('682ddb4ff174d523f4231b03'), ObjectId('682ddb4ff174d523f4231b04'), ObjectId('682ddb4ff174d523f4231b05'), ObjectId('682ddb4ff174d523f4231b06'), ObjectId('682ddb4ff174d523f4231b07'), ObjectId('682ddb4ff174d523f4231b08'), ObjectId('682ddb4ff174d523f4231b09'), ObjectId('682ddb4ff174d523f4231b0a'), ObjectId('682ddb4ff174d523f4231b0b'), ObjectId('682ddb4ff174d523f4231b0c'), ObjectId('682ddb4ff174d523f4231b0d'), ObjectId('682ddb4ff174d523f4231b0e'), ObjectId('682ddb4ff174d523f4231b0f'), ObjectId('682ddb4ff174d523f4231b10'), ObjectId('682ddb4ff174d523f4231b11'), ObjectId('682ddb4ff174d523f4231b12'), ObjectId('682ddb4ff174d523f4231b13'), ObjectId('682ddb4ff174d523f4231b14'), ObjectId('682ddb4ff174d523f4231b15'), ObjectId('682ddb4ff174d523f4231b16'), ObjectId('682ddb4ff174d523f4231b17'), ObjectId('682ddb4ff174d523f4231b18'), ObjectId('682ddb4ff174d523f4231b19'), ObjectId('682ddb4ff174d523f4231b1a'), ObjectId('682ddb4ff174d523f4231b1b'), ObjectId('682ddb4ff174d523f4231b1c'), ObjectId('682ddb4ff174d523f4231b1d'), ObjectId('682ddb4ff174d523f4231b1e'), ObjectId('682ddb4ff174d523f4231b1f'), ObjectId('682ddb4ff174d523f4231b20'), ObjectId('682ddb4ff174d523f4231b21'), ObjectId('682ddb4ff174d523f4231b22'), ObjectId('682ddb4ff174d523f4231b23'), ObjectId('682ddb4ff174d523f4231b24'), ObjectId('682ddb4ff174d523f4231b25'), ObjectId('682ddb4ff174d523f4231b26'), ObjectId('682ddb4ff174d523f4231b27'), ObjectId('682ddb4ff174d523f4231b28'), ObjectId('682ddb4ff174d523f4231b29'), ObjectId('682ddb4ff174d523f4231b2a'), ObjectId('682ddb4ff174d523f4231b2b'), ObjectId('682ddb4ff174d523f4231b2c'), ObjectId('682ddb4ff174d523f4231b2d'), ObjectId('682ddb4ff174d523f4231b2e'), ObjectId('682ddb4ff174d523f4231b2f'), ObjectId('682ddb4ff174d523f4231b

In [ ]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)

db = client['cafe_db']
collection = db['products']

In [79]:
for doc in collection.find().limit(5):
    print(doc)

{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143e'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f423143f'), 'Area Code': 409, 'Market_size': 'Major Market', 'Market': 'South', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Texas', 'Type': 'Decaf'}
{'_id': ObjectId('682dd017f174d523f4231440'), 'Area Code': 850, 'Market_size': 'Major Market', 'Market': 'East', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Darjeeling', 'State': 'Florida', 'Type': 'Regular'}
{'_id': ObjectId('682dd017f174d523f4231441'), 'Area Code': 562, 'Market_size': 'Major Market', 'Market': 'West', 'Product_line': 'Leaves', 'Product_type': 'Tea', 'Product': 'Green Tea', 'State': 'California', 'Type': 'Regular'}

In [76]:
print(db.list_collection_names())
for doc in db.orders.find().limit(3):
    print(doc)

['products']

In [77]:
from bson import ObjectId

# Contoh insert ke collection orders
orders = db['orders']

orders.insert_many([
    {"order_id": 1, "product_id": ObjectId("682dd017f174d523f423143d"), "quantity": 10},
    {"order_id": 2, "product_id": ObjectId("682dd017f174d523f423143e"), "quantity": 5},
])

InsertManyResult([ObjectId('682df7fcf174d523f4231b93'), ObjectId('682df7fcf174d523f4231b94')], acknowledged=True)

In [78]:
pipeline = [
    {
        "$lookup": {
            "from": "products",
            "localField": "product_id",
            "foreignField": "_id",
            "as": "product_details"
        }
    }
]

results = db.orders.aggregate(pipeline)
for res in results:
    print(res)

{'_id': ObjectId('682df7fcf174d523f4231b93'), 'order_id': 1, 'product_id': ObjectId('682dd017f174d523f423143d'), 'quantity': 10, 'product_details': [{'_id': ObjectId('682dd017f174d523f423143d'), 'Area Code': 303, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Lemon', 'State': 'Colorado', 'Type': 'Decaf'}]}
{'_id': ObjectId('682df7fcf174d523f4231b94'), 'order_id': 2, 'product_id': ObjectId('682dd017f174d523f423143e'), 'quantity': 5, 'product_details': [{'_id': ObjectId('682dd017f174d523f423143e'), 'Area Code': 970, 'Market_size': 'Major Market', 'Market': 'Central', 'Product_line': 'Leaves', 'Product_type': 'Herbal Tea', 'Product': 'Mint', 'State': 'Colorado', 'Type': 'Decaf'}]}

In [80]:
from pymongo import MongoClient

client = MongoClient('localhost', 27017)
db = client['cafe_db']
products_collection = db['products']

mongo_data = list(products_collection.find())
mongo_map = {item['Product']: item for item in mongo_data}  # Indexed by product name

In [81]:
from cassandra.cluster import Cluster

cluster = Cluster(['127.0.0.1'])
session = cluster.connect('cafe_analytics')

rows = session.execute("SELECT * FROM coffee_data")
cassandra_data = [row._asdict() for row in rows]

In [ ]:
# Asumsi kolom `product_name` ada di Cassandra dan cocok dengan `Product` di MongoDB
joined_data = []

for row in cassandra_data:
    product_name = row.get('product_name')
    mongo_info = mongo_map.get(product_name)
    
    if mongo_info:
        combined = {
            **row,
            **mongo_info
        }
        joined_data.append(combined)

for item in joined_data[:5]:
    print(item)